[2020-07-28 10:25] sobolevn opened #511 "Consider re-adding `unify` pointfree / method"
Currently I have removed it, as all other old `_generated` pointfree functions.
Do we need it in the new version?

[2020-07-28 11:55] sobolevn commented on #501
Possibly also `.bind_optional`, see #488 and #510

[2020-07-28 20:35] sobolevn opened #513 "`swap` should be a method, not a converter"
Following the same logic: we have `.swap()` method in containers, just like any other `.bind` or similar methods.

[2020-07-29 09:49] sobolevn opened #515 "Consider renaming `methods` to `operations`"
This name is a really hard one.

Basically `returns.methods.bind` is pretty much the same as `returns.result.Result.bind`, that's why I called them methods in the first place.

But, it might also bring confusion. Since now `method` can mean several (similar, but different) things.

Possibly there are other names that wil better illustrate the idea:
- `operations`
- `compositions`
- ???

[2020-07-29 10:35] sobolevn commented on #497
Closed by https://github.com/dry-python/returns/pull/512

[2020-07-29 10:35] #497 closed

[2020-07-29 15:08] sobolevn commented on #258
https://habr.com/ru/post/429104/

[2020-07-29 15:10] sobolevn commented on #469
https://habr.com/ru/post/429104/

[2020-07-29 16:04] thepabloaguilar opened #516 "Documentation issue (`Result.alt(...)` method)"
Wrong return type in the `Result` container documentation of `.alt(...)`:
[code]

The signature of `altable` should be:
[code]

[2020-07-29 22:14] thepabloaguilar commented on #451
So, the first item was completed I guess.

Answer:

And it worked!

---

Where we have to add the link? On the first page?

What exactly we have to improve?

[2020-07-30 03:48] thepabloaguilar opened #517 "Interfaces documentation"
This issue is to track what interface we have to document yet, and to split the PRs as well into multiples instead of one with all interfaces:

- [x] Mappable
- [x] Bindable
- [ ] Applicative
- [ ] Container

[2020-07-30 05:08] thepabloaguilar commented on #437
I'll take a look on this this week!

[2020-07-30 06:30] sobolevn commented on #451
There are a lot of concepts that are poorly illustrated in the original article: https://github.com/jmesyou/functional-programming-jargon.py

I guess we can improve almost every point in there 🙂

[2020-07-30 07:52] sobolevn opened #521 "Bug with `Kinded` type resolution"
The resolved type for this function is incorrect:

[code]

Output:
[code]

It should be:

[code]

[2020-07-30 09:31] sobolevn opened #522 "Incorrect type variable definitions in some `classmethod`s"
There are several (multiple) places where I use incorrect definitions for `classmethod` variables.

When I use the same variables that I use for declaring `Generic` instance, these variables are bound to class.
But, we need them to be bound to functions instead.

Here's the difference in inference for wrong type vars:

[code]

And correct ones:

[code]

It leads to some very hard-to-understand bug

[2020-07-30 15:06] thepabloaguilar commented on #451
If we create a repository inside `dry-python` it's easier to update it, you've opened a PR there 23 days ago and so far you haven't got any response!

[2020-07-30 17:06] sobolevn commented on #451
Great idea!

[2020-07-31 02:44] thepabloaguilar commented on #437
I'm getting a mypy error,maybe you can help me
[code]

mypy output:
[code]

[2020-07-31 02:54] thepabloaguilar commented on #421
It's a helper function for `MappableN` classes only, they just have the `map` method. So `flat_map` can be useful in this case!

[2020-07-31 07:31] sobolevn commented on #437
Here you go:

[code]

I have done two things:
1. Changed `Container` to `ResultLike`, because `Container` does not quite do what we what
2. Added two `.from_*` calls

[2020-07-31 07:33] sobolevn commented on #437
Things I haven't done, but I still think that they are important:
- Naming, we don't use `_SuccessType / _FailureType`, we use `_ValueType / _ErrorType`

[2020-07-31 11:03] sobolevn opened #525 "Consider adding LazyIO and friends"
The thing about `IO` in multiple languages / libraries is that it is lazy.

Our `IO` is not lazy by design. It is done, so Python developers can use it like so: `impure(print)(1) # prints "1"`
But, we also need to think about other problems as well:
1. Retries, with proper lazy `IO` one can retry an operation as many times as one wishes: `p = impure_lazy(print)(1); p(); p()  # prints "1" twice`
2.

[2020-07-31 12:54] sobolevn commented on #525
`LazyIO(x)` is basically just `IO(lambda: x)`.

But, when talking about composition, we need to give it a helping hand:

[code]

It is much better than working with `IO(lambda: x)`

[2020-07-31 13:06] sobolevn opened #526 "Better helpers for working with collections"
Currently, the only way we can work with collections is `.from_iterable` method.
Which relies on a poor `_generated` module with lots of bike-shadding: https://github.com/dry-python/returns/blob/f83af643ef7ef0a5cc4b72fa2ed8bf6596cd2d05/returns/_generated/iterable.py

We need to add a better support for using collections of containers.
Current problems unclude, but not limited to:
1. I need to coll

[2020-07-31 14:47] thepabloaguilar commented on #437
Great, I always forget about the `.from_*` hahaha

[2020-07-31 15:48] #516 closed

[2020-08-01 03:15] thepabloaguilar commented on #437
Initially this seemed a good idea, but I'm not sure now!!
Maybe it'll help create for composition within `flow`, what do you think?

[2020-08-01 07:36] sobolevn commented on #437
So, why don't you think that this is a good idea?

[2020-08-01 07:39] sobolevn commented on #437
I know that there are a lot of places (in `returns` source code and docs alone) where I used this pattern: if X then Y else Z.

It always felt a bit ugly. And very word-ish. Let's say:

[code]

Compare it with:

[code]

[2020-08-01 10:45] sobolevn commented on #457
Or, we can use data-types to represent different `Laws`: https://github.com/zio/zio/blob/f963adee37635f021a741d9d5ae4ca2ed4890b10/test/shared/src/main/scala/zio/test/laws/ZLawful.scala

For example:

[code]

It looks like something I really want to research.

[2020-08-01 10:51] sobolevn commented on #457
Also:
- https://github.com/zio/zio/blob/f36ba93af21f4cdcd880a39bde7911f127ff1fc6/test/shared/src/main/scala/zio/test/laws/package.scala
- https://github.com/zio/zio/blob/f963adee37635f021a741d9d5ae4ca2ed4890b10/test-tests/shared/src/test/scala/zio/test/laws/LawsSpec.scala

This is super cool idea!

We can also add `hypothesis` as `returns[test]` dependency and use API like `returns.check_laws(my_c

[2020-08-01 11:18] sobolevn commented on #258
Current validation prototype:

[code]

What can be changed / improved?
1. We need to add #526 support
2. We also need to change the function's signature to be `validate(items, *, strategy: _ValidationStrategy = ...)`. Where `_ValidationStrategy` is some kind of a callable protocol. There can be multiple strategies, including: collecting all erorrs for a field vs collecting only a single (first / l

[2020-08-01 11:21] sobolevn commented on #258
We can also add simple types to make validation more meaningful:

[code]

Where `Validated = Union[Valid[_ValueType], Invalid[_ValueType]]

[2020-08-02 02:34] thepabloaguilar commented on #437
It's just because I didn't find any good example, but I agree with you that's more beauty then `if` pattern!

[2020-08-02 02:39] thepabloaguilar commented on #437
I have a problem with `Result` when I try to use it:
[code]
mypy output:
[code]

`Result` has some `@abstractmaethod`s

[2020-08-02 07:41] sobolevn commented on #437
We can then remove all `@abstractmaethod` decorators from a `Result` (and all other containers).
We can also leave a note in the docs about it: we don't allow `@abstractmaethod`s in the real public containers and that's why: ...

[2020-08-03 20:43] #521 closed

[2020-08-03 20:43] #522 closed

[2020-08-03 22:02] sobolevn commented on #503
Closed by #528

[2020-08-03 22:02] #503 closed

[2020-08-04 06:14] #437 closed

[2020-08-04 06:39] sobolevn commented on #459
Duplicate of #462

[2020-08-04 06:39] #459 closed

[2020-08-04 06:40] sobolevn commented on #462
Duplicate of https://github.com/dry-python/returns/issues/410

[2020-08-04 06:40] #462 closed

[2020-08-04 10:52] sobolevn commented on #428
Related: #525

[2020-08-04 10:53] sobolevn opened #533 "Monad laws as values"
We need to add self-checkable monad laws represented as types.

Here are some context:
- https://github.com/zio/zio/blob/f36ba93af21f4cdcd880a39bde7911f127ff1fc6/test/shared/src/main/scala/zio/test/laws/package.scala
- https://github.com/zio/zio/blob/f963adee37635f021a741d9d5ae4ca2ed4890b10/test-tests/shared/src/test/scala/zio/test/laws/LawsSpec.scala

Related: https://github.com/dry-python/return

[2020-08-04 13:35] sobolevn commented on #533
Oh fuck, this is hard!

[2020-08-05 07:55] sobolevn commented on #451
New repo: https://github.com/dry-python/functional-jargon-python

[2020-08-05 18:28] thepabloaguilar opened #534 "Consider adding `cond` pointfree"
We already have `cond` method, I want to propose the following API for the pointfree implementation:

[code]

With an implementation like that we can make some short cuts in our flow like:
[code]

[2020-08-05 18:47] thepabloaguilar commented on #410
Waiting for your changes to be released and finally close this issue!!

[2020-08-05 20:17] thepabloaguilar commented on #451
How do you want to do this??
Maybe copy-paste the structure from [https://github.com/jmesyou/functional-programming-jargon.py](https://github.com/jmesyou/functional-programming-jargon.py) without the content of each topic and we can progressively be adding the content by ourselves?

[2020-08-05 20:24] sobolevn commented on #451
Sounds like a plan 👍

[2020-08-05 20:28] thepabloaguilar commented on #451
Can you initialize the repo, please? Because I can't fork if it's empty 😞

[2020-08-05 20:29] thepabloaguilar commented on #451
Just a simple README or a LICENSE hahaha

[2020-08-06 03:02] thepabloaguilar opened #536 "`is_successful` should accepts `ResultLikeN`"
`is_successful` accepts only `Unwrappable` types, but this is not semantic at all.
Now, the big difference between `ResultLikeN` and `ResultBasedN` is that we can unwrap the second one but we have to be able to use `is_successful` with `ResultLikeN` because it represents computation paths (success, failure) too.

And I think this is not a great function name to use with `Maybe`, `is_empty` and `is

[2020-08-06 03:03] thepabloaguilar commented on #534
Waiting #536 resolution, maybe we can use `is_successful` here!

[2020-08-06 06:53] sobolevn commented on #536
My understanding of `ResultLikeN` / `ResultBasedN` is that `ResultLikeN` is not a real result. For example `ReaderResult` is a part of `ResultLikeN` interface, but it cannot be used with `is_successful`, why?

Because there's no `Result` yet! We need to provide `deps` to the context first.

That's is exactly why these types cannot be unwrapped. There's nothing to unwrap yet. The same goes for `Fut

[2020-08-06 07:07] sobolevn commented on #451
@thepabloaguilar you can use the original repo, don't need to fork it. Do you have the right permissions?

[2020-08-06 08:28] sobolevn opened #537 "Consider adding popups for docs"
Like hypothesis has: https://hypothesis.readthedocs.io/en/latest/data.html
<img width="512" alt="Снимок экрана 2020-08-06 в 11 27 50" src="https://user-images.githubusercontent.com/4660275/89509400-f06f7c00-d7d7-11ea-8480-71da315466b8.png">

[2020-08-06 15:13] thepabloaguilar commented on #536
Oh, I got your full point now, thanks!! I'll improve the documentation section asap, we already have the section but with no content:

[What is the difference between ResultLikeN and ResultBasedN?](https://returns.readthedocs.io/en/latest/pages/interfaces.html#what-is-the-difference-between-resultliken-and-resultbasedn)

[2020-08-06 15:17] thepabloaguilar commented on #534
We can't do the API I've suggested, because is not possible to determine if a `ResultLikeN` is a success or not (https://github.com/dry-python/returns/issues/536#issuecomment-669742012).

Now the implementation should be only:
[code]

[2020-08-07 06:05] thepabloaguilar commented on #451
Done, I've pushed the content!!
I decide to keep some texts just to help in some way, but every topic is marked as `TODO`
Now we can start filling the gaps hahaha

[2020-08-07 07:59] sobolevn commented on #451
Awesome! 👍

[2020-08-07 08:04] sobolevn opened #540 "FutureResult and IO"
Currently we allow to create `FutureResult` from functions that return `Result`.
But, what if we have a function that returns `IOResult`?

Like this:

[code]

How can one compose it with `FutureResult`? Maybe we should add a new type: `FutureIOResult`? Or use a different type signature for `FutureResult` creation (with `ResultBasedN` type)?

[2020-08-07 09:24] sobolevn commented on #540
Question: should `async` functions ever return `IO`? Do we consider `async` functions implicitly bound to `IO`?
Answer: yes, `async` functions can return `IO`. We d not consider `async` functions implicitly bound to `IO`. The same way we don't consider regular functions impure. They have to be explicitly marked. `Future` is impure, yes. But it is explicitly impure.

[2020-08-07 10:53] sobolevn commented on #540
Let's say you have:

[code]

How can we translate `second` to be `FutureResult`?
The easiest way is `FutureResult.from_async_ioresult()` I guess.

[2020-08-07 14:19] #536 closed

[2020-08-07 21:34] sobolevn opened #541 "Add `SupportsEquality` interface"
Not all containers support real equality check. Sometimes we need to know what exactly can be compared.
For example:
- `IO.from_value(1) == IO.from_value(1)`
- `Future.from_value(1) != Future.from_value(1)`

We can add `equals` alias to `__eq__` for types that do support real equality.
We also need to support `Equality` laws. See #533

[2020-08-08 06:59] sobolevn opened #542 "Separate `IOLikeN` and `IOBasedN`"
`IO` can be compared with `SupportsEqual` (#541), but `Future` or `LazyIO` (#525) cannot be.
We need to split current `IOBasedN` interface into two:
- `IOLikeN` stays as-is
- `IOBasedN` adds `SupportsEqual` interface

[2020-08-09 01:17] #534 closed

[2020-08-10 12:25] sobolevn opened #547 "Enable RTD check in PRs"
See: https://readthedocs.org/projects/hypothesis/builds/11631177/

I would be awesome to have! Because sphinx break quite frequently.

[2020-08-11 16:42] thepabloaguilar commented on #460
I would like to resolve this issue because this modification will impact many of our classes!

I think we have two options:
* `.unwrap()` & `.unwrap_second()`
* `.unwrap()` & `.unwrap_other()`

My vote is for `.unwrap()` & `.unwrap_other()`:
[code]

[2020-08-11 16:42] thepabloaguilar commented on #460
@sobolevn what do you think?

[2020-08-11 17:36] sobolevn commented on #460
Sorry, didn't have the time to think about it yet.

[2020-08-13 02:31] thepabloaguilar commented on #511
Should we implement the `method` as well??

[2020-08-13 06:59] sobolevn commented on #511
Yes, sure.

[2020-08-13 12:51] #513 closed

[2020-08-14 04:39] thepabloaguilar opened #549 "`KindN` does not support `Union`"
`Kind` does not support some types of `Union`, the test case below works correctly when there is a Exception/Custom type:

[code]

---

But, when we change the `Exception` to `int`, `float`, `bool`, `bytes` e etc. does not work:

[code]

Output:

[code]

---

related #511

[2020-08-14 08:55] sobolevn commented on #469
https://twitter.com/Oli_kitty/status/1293722185958227968

[2020-08-15 03:18] thepabloaguilar commented on #502
Is not just one method `compose_result`, in fact it's:

* `compose_result` -> `IOResult`
* `compose_future_result` -> `FutureResult`
* `compose_requires_context_io_result` -> `RequiresContextIOResult`
* `compose_requires_context_future_result` -> `RequiresContextFutureResult`

[2020-08-15 04:05] thepabloaguilar commented on #502
Why `compose_result` has this signature?

[code]

Instead of:

[code]

---

Another question is why just the first value (`_FirstType` -> `_UpdatedType`) changes?? Because using `compose_result` I can return any type of `IOResult`!!

[2020-08-15 07:42] sobolevn commented on #502
The idea behind this method is that sometimes we need to work with `pure` `Result` value.
Let's say we have a `FutureResult` object. We cannot not compose it with a function that takes just `Result`.
There's literally no other way.

That's how `compose_result` helps.

It was originally created for https://github.com/dry-python/returns/blob/master/returns/_generated/pipeline/managed.py#L114

[2020-08-15 07:43] sobolevn commented on #502
We can probably add:
- `compose_ioresult` for `IOResult+` types
- `compose_future_result` for `FutureResult+` types
- `compose_maybe` for `Maybe+` types

[2020-08-15 19:36] thepabloaguilar commented on #502
Yes, but my question is about the "`hardcode`" type. I think the `compose_result` method should use `KindN` in the callable signature!
Maybe my confusion is because `IOResult` is a container of container, it stores a `Result` inside of it.
The users will not be able to use their own `Result` containers, we're limiting to use _returns_ `Result` in our `IOResultLikeN` interface.

[2020-08-15 20:05] sobolevn opened #551 "Move aliases to interfaces"
Creating a separate `aliases/` subpackage was a mistake.
We need to join them with basic interfaces.

[2020-08-15 20:08] sobolevn commented on #502
No, that's exactly the point of `compose_result` to work with `Result`! 🙂

When some type is based on `Result`, we would sometimes need to use it. With`compose_result`!

[2020-08-17 10:38] antonagestam commented on #408
Just lurking on this PR which seems really promising 🙌 Has there been any interest from mypy to internalize support for this further on?

[2020-08-17 11:13] sobolevn commented on #408
@antonagestam thanks! 👍

When this will be released, I will work with mypy team! I am pretty sure that we can incorporate some parts of our API into the standard API.

[2020-08-17 11:15] sobolevn commented on #408
BTW, your https://github.com/antonagestam/phantom-types project looks amazing!

[2020-08-17 14:23] antonagestam commented on #408
@sobolevn Thanks! I'm finding it hard to find the time to get it off the ground but I'm currently making some changes to make it much more based around predicate functions which I think will make it a lot more useful and adaptable to different contexts :)

Exciting times in the world of typed Python!

[2020-08-17 19:42] thepabloaguilar commented on #502
`compose_result` naturally will be for `IOResult+`, we just have the `compose_result(...)` method in the `IOResultLikeN` interface!

[2020-08-18 23:06] #526 closed

[2020-08-19 08:01] sobolevn commented on #491
Or, we can use `()` as a unit type https://github.com/python/mypy/issues/4211

[2020-08-23 16:57] #440 closed

[2020-08-24 04:18] thepabloaguilar commented on #537
Seems easy to use: [sphinx-hoverxref](https://sphinx-hoverxref.readthedocs.io/en/latest/)
What references do we have to put this?

[2020-08-24 07:42] sobolevn commented on #537
Sorry, I don't get your question. 🙂

[2020-08-24 07:47] #551 closed

[2020-08-24 08:36] sobolevn commented on #533
After merging https://github.com/HypothesisWorks/hypothesis/pull/2550 this feature is unblocked. I can return to it.

[2020-08-24 14:41] sobolevn commented on #537
Basically all refences like `:meth:`, `:class:`, `:func:`, etc

[2020-08-25 08:28] sobolevn opened #563 "Rename `_generated` to `_internal`"
This name is better.

[2020-08-25 11:12] sobolevn opened #564 "Future objects are not re-awaitable"
Currently, this code is not possible:

[code]

It raises this exception:

[code]

[2020-08-25 12:59] juntatalor opened #565 "future_safe & RuntimeWarning: coroutine '...' was never awaited"
Hi!
I'm running sample code from https://returns.readthedocs.io/en/latest/pages/future.html#futureresult on python3.7
I've set timeout for AsyncClient to 0.01, expecting the function to always fail. That works correct, the result is <IOResult: <Failure: >>
But there are lots of RuntimeWarnings:
[code]

It is not a good idea to disable RuntimeWarnings, and i suspect this behaviour to be incorrect.

[2020-08-26 07:23] sobolevn commented on #540
One should use `FutureResult.from_async_ioresult()`. Otherwise it is a broken abstraction.

[2020-08-26 07:23] #540 closed

[2020-08-26 07:24] sobolevn commented on #515
What we also want to consider is changing the signature:
- from `bind(container, function)` to `bind(container)(function)`

[2020-08-26 14:56] #537 closed

[2020-08-26 15:21] thepabloaguilar commented on #547
Just you can do this, it's pretty easy!!

[Autobuild Documentation for Pull Requests](https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html)

[2020-08-26 15:50] sobolevn commented on #547
Thanks! Will do.

[2020-08-26 19:09] thepabloaguilar opened #568 "Active `fail_on_warning` RTD"
Now we're ignoring the `sphinx` warnings and some of these warnings is about "broken" references so we need to configure our `ReadTheDocs` build to fail on warnings.
The default value is __false__, [reference](https://docs.readthedocs.io/en/stable/config-file/v2.html#sphinx-fail-on-warning)!!

Another point here is that we got a lot of warnings like this:
[code]
It's because our configuration is s

[2020-08-27 03:19] thepabloaguilar commented on #568
It's harder than I thought, for now we can't enable this cause I got a lot of `circular import` errors when I switch `set_type_checking_flag` to `True`!!

[2020-08-27 03:20] thepabloaguilar commented on #568
We need to set `set_type_checking_flag` to avoid the warnings like this:
[code]

[2020-08-27 03:36] thepabloaguilar commented on #568
Oh, I've figure out how to resolve those warnings without set `set_type_checking_flag` to `True` but I don't like the way. If we import the `annotations` from the `future` everything works fine:
[code]

[2020-08-27 06:44] sobolevn commented on #568
Because we support python3.6 right now.

We can possibly drop it somewhere in the future and use `from __future__ import annotations`.

[2020-08-27 14:17] thepabloaguilar commented on #568
I got other warnings about the syntaxe in some docstrings that have tracebacks in the Python code!!

[2020-08-27 14:53] papaver commented on #392
@sobolevn i ended up going the generator route as it resulted in the cleanest code while still looking like python.  all the other implementations i ran into were fairly gross looking and convoluted to force the code to do something it wasn't meant for (like the decorator with dozens of yields).  the for comprehension was was able to do a form of 'lifting' for free, cleanly.

i actually use that p

[2020-08-27 15:14] sobolevn commented on #568
It should be marked as:

[code]

And not:

[code]

[2020-08-27 15:58] thepabloaguilar commented on #568
I think we don't have this problem here, the problem I find is:
[code]

If we remove the line `returns.primitives.exceptions.UnwrapFailedError` everything works fine without any warning!

[2020-08-27 16:01] thepabloaguilar commented on #568
Other problem I've found is:
[code]

We can't define a header like `Definition` inside docstring, btw if you go to the `IOResult` documentation that header is not rendered as you can see [here](https://returns.readthedocs.io/en/latest/pages/io.html#returns.io.IOResult)

[2020-08-27 16:51] sobolevn commented on #568
We can change it, no problems.

[2020-08-27 18:33] kyprifog commented on #533
Wow this would be awesome!

[2020-08-28 13:47] #480 closed

[2020-08-29 05:43] sobolevn commented on #392
We can also try to use something similar to `Elixir`'s notation with `with:`

Like so:

[code]

[2020-08-30 17:30] #533 closed

[2020-08-30 17:30] #541 closed

[2020-08-30 17:30] #542 closed

[2020-08-30 17:30] #563 closed

[2020-08-30 17:30] #564 closed

[2020-08-30 20:48] sobolevn commented on #565
Ok, this highlights an important problem. We don't have any API for coroutine cancelation.
We also don't really clean things up after some coroutines do not succeed.

I propose several things here:
- [ ] add some `.cancel()` method for `Future` and `FutureResult` (it would be especially useful for times when a future fails)
- [ ] add it to the inreface as well
- [ ] add cancelation for `from_itera

[2020-08-30 21:22] sobolevn opened #570 "Create laws for `AltableN`"
They should be the same as in `MappableN`, but with `.alt`

Related https://github.com/dry-python/returns/pull/543

[2020-08-30 21:32] sobolevn opened #571 "Add laws for `AsyncFuture` interface"
Each future should hold this law:

[code]

We also need to test that:
- We have `AsyncLaw` primitive
- Hypothesis can run this law

[2020-08-30 21:39] sobolevn opened #572 "Add laws for `.from_failure`"
See https://wiki.haskell.org/Typeclassopedia#MonadFail

The idea is that after `.from_failure` we receive a failed container, so:

[code]

Related #543

[2020-09-01 07:18] #570 closed

[2020-09-01 09:57] sobolevn commented on #571
No, this law is not required. This is checked in multiple other laws with `assert_equal`

[2020-09-01 09:57] #571 closed

[2020-09-01 16:39] #572 closed

[2020-09-01 16:42] sobolevn commented on #549
Oh, that's a good one! It made me to scratch my head for a bit 😆

The problem here is not in `KindN`, it is in `Union[int, bool]`, because `bool` is subtype of `int`. So, it evaluates to a single type inside a `Union`.
Try `Union[str, bool]` instead.

[2020-09-01 16:42] #549 closed

[2020-09-01 16:51] sobolevn commented on #460
Since `.failure()` now only lives in `ResultLikeN`, there's no need to rename it.

[2020-09-01 16:51] #460 closed

[2020-09-01 16:51] sobolevn commented on #457
Done in #533

[2020-09-01 16:51] #457 closed

[2020-09-02 18:18] thepabloaguilar commented on #549
I didn't know that!! Hahaha
Tks

[2020-09-03 06:35] #511 closed

[2020-09-03 07:38] sobolevn opened #575 "Remove `interal_` methods"
I don't even remember why we did need them. But, it now works 100% correctly without them.
So, no need to have extra complexity.

[2020-09-03 15:08] sobolevn opened #577 "Speed up the tests"
There are several thing we can try:
- [ ] `pytest-xdist`
- [ ] save the previous `mypy` cache and remove `disable_cache` everywhere

[2020-09-03 15:58] sobolevn commented on #355
Yes, this should be something different.

[2020-09-03 15:58] #355 closed

[2020-09-03 16:20] #498 closed

[2020-09-03 16:20] #575 closed

[2020-09-03 16:20] #577 closed

[2020-09-04 03:41] thepabloaguilar commented on #525
This can be useful to create something like `lazy_cond` that accepts lazy objects as the inner values:
[code]

Today is impossible to make something similar and simple

[2020-09-04 09:18] sobolevn opened #579 "Add docs about pytest.marks"
This page https://returns.readthedocs.io/en/latest/pages/contrib/pytest_plugins.html misses information
about these markers: https://github.com/dry-python/returns/blob/50cbe09da6772aff87239d7549c285e498cd0e9c/returns/contrib/pytest/plugin.py#L35-L41

[2020-09-04 19:03] #488 closed

[2020-09-04 19:03] #501 closed

[2020-09-05 04:59] thepabloaguilar commented on #391
We have a problem with HKT here, it can't convert `Sequence[Kind1[_ContainerKind, _FirstType]]` to `Sequence[Container[_FirstType]]`!

[code]
mypy output:
[code]

Do you want to open an issue for this?

[2020-09-05 08:03] sobolevn commented on #391
Ok, I see. `@kinded` forces us to have `KindN` as a return type. I think, that this is a correct behaviour. Not a bug.

Any ideas on how to support it?

[2020-09-05 08:22] sobolevn commented on #492
Use a workaround. It is good enough.

[2020-09-05 08:22] #492 closed

[2020-09-05 08:25] sobolevn commented on #491
This will be very hard to read for newcovers. Let's leave it as good-old `None`.

By the way, `()` won't work as a unit value. You would have to explicitly return it everywhere. Not a great idea.

[2020-09-05 08:25] #491 closed

[2020-09-05 08:29] sobolevn commented on #515
Why anyone would possibly need `bind(container)(function)`? You can use `container.bind(function)`. It is the same thing, but cleaner.

Why do we even need methods? We don't use them anywhere. They just do the same thing as regular methods.
They cannot be used in pipelines due to their signature (2 params).

What problem do they solve?

[2020-09-05 08:32] sobolevn commented on #515
Ok, there are some useful ones:
- `cond`

[2020-09-05 10:12] sobolevn commented on #515
Closed by #581

[2020-09-05 10:12] #515 closed

[2020-09-05 12:55] sobolevn commented on #461
Ok, the reason here is in `_ValueType = TypeVar('_ValueType', covariant=True)`. It is possible to see a reproduction here: https://github.com/sobolevn/mypy-flow-type-inference-bug/blob/master/bug.py#L8

You can try both with `covariant=True` and without it.
I have fixed `flow`, but fixing `pipe` is harder, since we don't have a direct access to type arguments, instead we take them from `ctx.type`'

[2020-09-05 12:56] sobolevn commented on #461
Possibly, we can somehow override `_Pipe`'s constructor. So it can infered correctly. But, this is clearly not the right time to do it.

I will report a mypy issue later on.

[2020-09-05 19:23] #461 closed

[2020-09-05 22:35] sobolevn commented on #482
Ok, I guess I have solved `coalesce` problem:
1. We can create `BiMappableN` interface with `.map` and `.alt` methods, `ResultLikeN` will be suclassing it
2. Then we can add `bimap(container: KindN[_BiMappableKind, _ValueType, _ErrorType, _ThirdType], to_map: Callable[[_ValueType], _NewValueType], to_alt: Callable[[_ErrorType], _NewErrorType]) -> KindN[_BiMappableKind, _NewValueType, _NewErrorType

[2020-09-06 09:36] #482 closed

[2020-09-06 09:47] sobolevn commented on #421
Going to close this as won't fix. I don't see any advantage over our current `map` / `bind`.

[2020-09-06 09:47] #421 closed

[2020-09-07 07:12] #379 closed

[2020-09-07 11:06] #579 closed

[2020-09-08 10:10] sobolevn opened #588 "Add a law test for custom container with __init__"
Currently we have a problem with https://github.com/HypothesisWorks/hypothesis/issues/2603
Refs https://github.com/HypothesisWorks/hypothesis/pull/2606

We need to test that it is solved.

[2020-09-09 02:21] thepabloaguilar opened #589 "Consider adding decorators to work with generators"
After think a lot about #355 it will be great to provide the same mechanisms we have to "normal" functions to generators!
It is not uncommon to see generators in many Python code, we use it when reading a file, iterating over Query objects and so on!

Today is impossible to work with generators using our current set of decorators like `@safe`:
[code]

Expected behavior:
[code]

[2020-09-09 07:02] sobolevn commented on #589
Or, something like `apply_to_each(safe)(numbers)`

[code]

[2020-09-09 10:08] #499 closed

[2020-09-09 12:41] #500 closed

[2020-09-09 14:31] #588 closed

[2020-09-09 14:50] thepabloaguilar commented on #589
I really like this approach!!

[2020-09-10 12:17] kyprifog opened #592 "flatten on List[Maybe[T]]"
Also asking if there is an existing way that i'm not seeing to do the following:

I expected:
[code]
to return
[code]
removing Nothing

[2020-09-10 12:42] sobolevn commented on #592
Does this look like something similar to what you need? https://github.com/dry-python/returns/blob/master/returns/maybe.py#L281-L286

[2020-09-10 14:03] thepabloaguilar commented on #568
I think I found a Sphinx bug, a very specific one. I'm waiting for a resolution, so I'll finally active the `fail_on_warning`!!

[2020-09-10 14:27] sobolevn commented on #568
We also have to fix this:

[code]

[2020-09-10 14:28] sobolevn commented on #568
`set_type_checking_flag = True` does not work, because in this case we would have circular imports.

[2020-09-10 14:39] thepabloaguilar commented on #568
I've fixed using `from __future__ import annotations`

[2020-09-10 14:41] sobolevn commented on #568
Yes, this is true for `python3.7+`, but we still support `python3.6` (it also does not support hypothesis laws)
We can drop it if needed, but we still have to count it for now.

[2020-09-10 14:43] thepabloaguilar commented on #568
I have a working branch, almost everything was fixed the last warnings are about this:
[code]

Seems it's a `sphinx_autodoc_typehints` problem not sphinx itself

[2020-09-10 14:52] kyprifog commented on #592
Doesn't that return a List[Maybe[T]]?  I'm looking for something that will take a List[Maybe[T]] and flatten it:
[code]

[2020-09-10 21:04] sobolevn commented on #592
You can pass `CollectAll` strategy there.

[2020-09-11 07:26] sobolevn commented on #568
https://github.com/asottile/future-annotations

[2020-09-11 09:16] sobolevn commented on #568
@thepabloaguilar I have dropped python3.6

[2020-09-11 12:43] sobolevn opened #594 "Enable hypothesis entrypoint"
We need to fix the coverage bug. Because right now if we use ``hypothesis`` entrypoint the coverage will go down to 30 procents.

Related https://github.com/HypothesisWorks/hypothesis/issues/2564

[2020-09-12 10:37] #594 closed

[2020-09-12 21:09] thepabloaguilar commented on #568
Waiting a PR to be merged and released, after that we can eliminate all warnings!!
PR: https://github.com/sphinx-doc/sphinx/pull/8202

[2020-09-13 11:49] sobolevn opened #598 "Current `.from_iterable` is not correct: we need a new interface"
I am sad, but we have to delay our `0.15` release. Because `.from_iterable` is wrong in several very important aspects.

1. Its type is wrong:

[code]
Look at this! Let's say we want to implement another way of joining things: for example for `Pair[x, y]`
It should be `Pair[Sequence[x], Sequence[y]]`

2. It is bound to a `Container` interface. Because it is our implementation detail. User's are fo

[2020-09-13 11:49] #592 closed

[2020-09-13 11:50] sobolevn commented on #592
Let's move to #598

[2020-09-13 11:54] sobolevn commented on #598
Moreover, we don't have `monoid` in any ways.

[2020-09-13 11:56] sobolevn opened #599 "Add docs about "Writting your own container""

[2020-09-13 13:17] sobolevn commented on #598
cats:
- https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Foldable.scala
- https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Traverse.scala
- https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Reducible.scala

[2020-09-13 13:22] sobolevn commented on #598
This is also super ugly: https://github.com/dry-python/returns/blob/master/returns/primitives/iterables.py#L181

[2020-09-13 15:33] sobolevn commented on #598
Ok, we can skip `Foldable` for now. And only make `Traversable`. Later we will add `Foldable` as well.
I really like several ideas:
- Only `foldMap` or `foldr` is required for all `Foldable` to work by default
- Some types can provide more efficient implementations

[2020-09-13 16:09] sobolevn commented on #495
The easiest solution I see is: `kinded_method` and `kinded_classmethod`

[2020-09-13 16:16] kyprifog commented on #592
Sounds good that sounds much more robust.  I'll track the issue there

[2020-09-13 16:50] sobolevn commented on #495
Or we can go this way:

[code]

[2020-09-13 18:00] #495 closed

[2020-09-13 22:47] sobolevn commented on #568
https://pypi.org/project/default-values/

[2020-09-14 13:35] sobolevn opened #604 "Do we really need `ApplicativeMappable`?"
Can't we just define that `ApplicativeN` is a subtype of `MappableN`?
Why do we need a separate interface for it?

We don't use it anywhere.

Related https://github.com/dry-python/returns/issues/598

[2020-09-14 14:05] sobolevn opened #605 "Make `@safe(exceptions=(TypeError, ValueError))` variant"
This decorator will help to catch only expected errors, not all.

[2020-09-14 15:39] thepabloaguilar commented on #604
I think we can make `ApplicativeN` a subtype of `MappableN`!

I think we don't need it!! `Applicative` is a `Functor`

##### Extracted from [here](http://learnyouahaskell.com/functors-applicative-functors-and-monoids)

[2020-09-14 19:57] thepabloaguilar commented on #391
I don't have any ideas 😞

[2020-09-15 11:48] #604 closed

[2020-09-15 11:48] sobolevn commented on #605
This also applies to `impure_safe` and `future_safe`

[2020-09-16 06:08] sobolevn opened #610 "Add transducers support"
https://medium.com/javascript-scene/transducers-efficient-data-processing-pipelines-in-javascript-7985330fe73d
https://dev.to/romanliutikov/understanding-transducers-in-javascript-4pdg

Currently we use very straight-to-action helpers. Sometimes we might need more efficient ones.
Here why we need transducers.

[2020-09-16 11:56] sobolevn opened #611 "Consider adding `These` container"
It is similar to `Result`, but also has the third case: when we have both `Success` and `Failure`.

Link: https://github.com/gcanti/fp-ts/blob/master/src/These.ts

[2020-09-16 12:51] sobolevn opened #612 "Bindable / Container laws in the docs"
Currently, docs state that Bindable has laws. But, that's not true.
In our interfaces only `ContainerN` has laws that can be named "monad" laws.
So, we need to fix that.

[2020-09-16 12:55] #612 closed

[2020-09-16 20:41] thepabloaguilar commented on #568
Ok, I think we need this issue to make our documentation better (in a technical aspect)!!
Unfortunately, I think the `sphinx` solution just will be released in about 1 month, I can fix it temporarily by introducing the file from `sphinx-autodoc-typehints` in the `contrib` package until the `sphinx` release! It's just one line modification.

[2020-09-18 09:52] sobolevn opened #615 "Consider renaming `.rescue`"
Currently, `.rescue` can be present in any type that wants to work with the second type argument. Not only `ResultLikeN`.

So, consider this code sample:

[code]

And later one would use `Pair((1, 2)).rescue(...)`? Seriously?
We need a more generic name for this interface.

[2020-09-18 10:46] sobolevn opened #616 "Try to provide default implementation for some interfaces"
For example, `.map` is just `return self.__class__(function(self._inner_value))` in many cases.
There are also other methods that can be possibly have defaults.
Or `.from_iterable` also is the same for every container.

But, we need to check that:
1. Typing works correctly
2. In case if method needs a non-default implementation, we can know it in advance

Related #598
Related #495

[2020-09-18 18:47] sobolevn commented on #616
We  have a very complex bug, because currently `@kinded` method cannot be overridden. All its children are marked as invalid.

[2020-09-19 17:02] #568 closed

[2020-09-20 09:45] sobolevn opened #618 "Incorrect `partial` type reveal"
# Bug report

[code]

Reveals type:
[code]

Must be:
[code]

[2020-09-20 10:05] #618 closed

[2020-09-20 11:53] sobolevn opened #619 "`@kinded` should work with `@classmethod`"
Currently it does not work at all.

[2020-09-20 11:56] sobolevn commented on #619
Demo:

[code]

Let's try to see what's inside:

[code]

[2020-09-21 14:53] thepabloaguilar commented on #547
Would be great to enable this check asap to prevent documentation fails from future PRs

[2020-09-21 15:21] sobolevn commented on #547
I am on it!

[2020-09-21 15:26] #547 closed

[2020-09-21 15:26] sobolevn commented on #547
Link https://returns--621.org.readthedocs.build/en/621/

[2020-09-22 10:11] sobolevn commented on #598
Discussion: https://t.me/drypython/1460

[2020-09-23 07:22] sobolevn opened #623 "We don't have an interface to represent `Failable` types"
Currently we treat `ResultLikeN` as a basic failable:

[code]

But, that's not correct. And even our own code supports this statement by having `Maybe`:

[code]

They are almost identical (except for `.alt` part, but more on this later). So, we need a basic interface to represent both of them.

I can see several things here:
- [ ] We need to create a new `interfaces.failable` module, we would defi

[2020-09-23 07:22] sobolevn commented on #623
@thepabloaguilar will you be able to take this one?

[2020-09-23 14:03] thepabloaguilar commented on #623
Yep

[2020-09-23 17:42] thepabloaguilar commented on #623
@sobolevn I didn't get the idea here, can you provide some examples?

Using your explanation I thought something like this:
[code]

Where `Maybe` inherit from `Failable` and `Result` from `DiverseFailable`, right??

Because does not make any sense `Maybe` with the `alt` method (from `BiMappableN`), the only possible failure value is `None`! Maybe you've said this, I'm just confirming 😄

[2020-09-23 18:06] sobolevn commented on #623
Yes!

[2020-09-24 05:23] dependabot-preview[bot] opened #625 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/dry-python) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/dry-python/update-logs/48546136).

[2020-09-24 07:21] #625 closed

[2020-09-24 11:36] #619 closed

[2020-09-24 14:48] sobolevn commented on #616
Nope, we have problems with `mypy` and custom descriptors inheritance. I will need to submit a bug to `mypy`.

[2020-09-25 00:38] sobolevn opened #627 "Update sphinx-mermaid to 0.5.0"
We need to do several things:
1. Show all interfaces for each type instead of just direct parents
2. Show all interfaces we have and their conntections on "Interfaces" page
3. Make sure eveything still works

[2020-09-25 01:35] dependabot-preview[bot] opened #628 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/dry-python) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/dry-python/update-logs/48546135).

[2020-09-25 01:50] thepabloaguilar commented on #628
@sobolevn what about use dependabot from [GitHub](https://docs.github.com/en/github/managing-security-vulnerabilities/configuring-github-dependabot-security-updates)??

[2020-09-25 05:24] dependabot-preview[bot] opened #629 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/dry-python) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/dry-python/update-logs/48684345).

[2020-09-25 09:28] #628 closed

[2020-09-25 09:29] sobolevn commented on #628
It is just an issue with it.

[2020-09-25 09:31] #629 closed

[2020-09-25 09:34] sobolevn opened #630 "Add a hypothesis test case with an expected failure"
We need a test like https://github.com/dry-python/returns/blob/master/tests/test_contrib/test_hypothesis/test_laws/test_custom_type_with_init.py but it should fail.

This way we would check that it is possible to violate the law and your test will fail.
We would also need to check that we have `strict-xfail` setup in `pytest`.

@thepabloaguilar will you take this one, please?

[2020-09-25 10:27] sobolevn commented on #615
Currently I believe that `lash` is the best name for it.

[2020-09-25 14:30] thepabloaguilar commented on #630
Sure!

[2020-09-25 14:38] #408 closed

[2020-09-25 14:42] sobolevn commented on #391
Ok, we should change how `@kinded` works in the future.
Because we can and will have cases when we need wrapped expressions like `List[KindN[...]`.
Today I have tried to write `Maybe[KindN[...]]`, but I was not able to do that. That's sad.

But, to fully support this, we need https://github.com/python/mypy/issues/9001 to be released.

[2020-09-25 14:51] sobolevn opened #631 "Wrapped `KindN` instances like in `List[KindN[...]]` do not translate to the correct type"
We need https://github.com/python/mypy/issues/9001 to be released in `mypy` to write our custom translator of types.
Because otherwise, we won't be able to support `List[KindN[...]]` or `Maybe[KindN[...]]` or any other wrapped `KindN` instances.

I won't say that it is a blocker. But a major bug for us right now.

[2020-09-25 14:51] sobolevn commented on #631
Related #391

[2020-09-25 14:51] sobolevn commented on #631
It would be awesome to know `mypy` release cycle.

[2020-09-25 14:52] thepabloaguilar commented on #391
I'm excited waiting for the next `mypy` release, should be fixed at least three issues here hahaha

[2020-09-26 07:29] sobolevn opened #634 "Allow cond to work with `SingleFailableN`"
We can probably try to make a special overload for `cond` and `SingleFailableN`.
That's how it should work:

[code]

And we would have the second overload: the way it is defined in #624
So, it would work for both types.

[2020-09-26 10:19] #627 closed

[2020-09-26 16:51] mysticfall opened #636 "Consider implementing __str__ / __repr__ for suitable containers"
# Bug report

## What's wrong

When writing test cases for a method that returns `Maybe[T]`, I found that pytest reports a failure as follows which is not very readable:

## How is that should be

It would be much better, if `Some` implemented `__str__` (and maybe also `__repr__`) so that it could look like below:

## System information

- `python` version: 3.8
- `returns` version: 0.14.0

[2020-09-26 17:40] sobolevn commented on #636
@mysticfall will you please send a PR for this?

[2020-09-26 17:44] mysticfall commented on #636
@sobolevn I'd be willing to try. But for now my hands are tied with my own project, so probably I'll need some time before I could start working on it.

[2020-09-26 21:01] thepabloaguilar commented on #636
This seems easy, `Maybe` and all of our container inherit from [BaseContainer](https://github.com/dry-python/returns/blob/baa5a9cb64ac9f63feed4ab99a1b9b84b2b37272/returns/primitives/container.py#L11)

We've `__str__` defined but not `__repr__`, this problem can be solve by switching from `__str__` to `__repr__` because when we don't define str dunder it'll use the representation of the object!
Or

[2020-09-26 21:35] thepabloaguilar opened #637 "`cond` and `unify` should use `KindN` instead of `Kind2`"
# Bug report

## What's wrong

We can have some problems when try to work with containers Kind3!

To verify if everything is working correctly we need to add this test case to `cond` typesafety tests:
[code]

## How is that should be

We just have to change from `Kind2` to `KindN`

[code]

[2020-09-27 00:02] mysticfall opened #638 "Add method to provide default value to Maybe as another Maybe"
# Bug report

## What's wrong

Currently, we can use `Maybe[T].value_or(default: T)` to evaluate the value of a given `Maybe` container with a fallback value. However, we don't have an easy and compact way to chain `Maybe` containers, so that the first one in the chain which has a value to be chosen as its return value.

## How is that should be

In Scala, there is a method called `orElse` which p

[2020-09-27 08:22] sobolevn commented on #638
We will have `.rescue` in `Maybe` in `0.15`
Link: https://github.com/dry-python/returns/blob/master/returns/maybe.py#L141

Is it want you need?

[2020-09-27 08:24] sobolevn commented on #637
For `cond` type should be:

[code]

`unify` should be also fixed.

[2020-09-27 08:25] mysticfall commented on #638
Quite close, as it accepts a callable rather than a value. But probably it's better that way as it can be more flexible and also consistent with existing methods like `or_else_call`.

Please feel free to close this issue. Thanks for the info! :)

[2020-09-27 08:36] #638 closed

[2020-09-27 09:40] raoashish10 commented on #636
@thepabloaguilar I would like to try solving this issue for Hacktoberfest. Where can I contact you for any doubts?

[2020-09-27 09:41] sobolevn commented on #636
There would be also some tests to fix, because we tested `repr` somewhere.

[2020-09-27 10:49] raoashish10 commented on #636
@sobolevn Sure I would look into that as well

[2020-09-27 17:04] thepabloaguilar commented on #636
@raoashish10 fell free to join in our community group on Telegram, just hit the button below:

[![Telegram chat](https://img.shields.io/badge/chat-join-blue?logo=telegram)](https://t.me/drypython)

[2020-09-27 17:31] sobolevn opened #639 "`apply` method of `IOResult` works incorrectly"
Consider this example. How it should be:

[code]

How it is now:

[code]

[2020-09-27 18:01] sobolevn commented on #639
The same happens for `ReaderIOResult`

[2020-09-27 18:27] raoashish10 commented on #636
Joined it!

[2020-09-27 18:29] sobolevn opened #640 "`empty` in `Reader` and `Failable` are two different things"
These two definitions are incompatible.
We need to rename `Reader.empty` to something else. Like `no_args`.
Or drop it completely, because `...` is easier to write and use.

Related #624

(I am even surprised it works) 😮

[2020-09-27 18:35] #623 closed

[2020-09-27 18:51] sobolevn opened #641 "Incorrect type inference for `safe`"
Reproduction:

[code]

Produces: `Revealed type is 'def (Any) -> returns.result.Result[Any, builtins.Exception]'`
Should be: `Revealed type is 'def (httpx._models.Response*) -> returns.result.Result[httpx._models.Response*, builtins.Exception]'`

[2020-09-27 19:14] sobolevn commented on #641
Looks like this is a proper solution:

[code]

[2020-09-28 07:48] sobolevn opened #644 "Test that `Fold` methods are recursion safe"
Big iterables might potentially trigger `RecursionError` if we would have some wrong abtractions inside.
So, we need to tests that even iterables with big number of elements (bigger than recursion limit) do not raise an error.

We need to test:
- Public methods of `Fold` here https://github.com/dry-python/returns/blob/master/returns/iterables.py
- Recusion limit: https://docs.python.org/3/library/

[2020-09-28 08:23] #598 closed

[2020-09-28 08:23] #639 closed

[2020-09-28 08:23] #641 closed

[2020-09-28 11:58] sobolevn opened #647 "Think about lazy loop method"
Imagine that you have a list of 3 elements. And you are going to use `Fold.loop` on it.
The first one is `Failure(1)`.

Currently, `loop` will iterate over all 3 elements. With no breakpoints.
But, `Failure(1)` is a roadblock for any other logic. We should not iterate over other values.

We need to think about best solutions here.
Criteria:

- It should ideally work with any `FailableN`
- It shoul

[2020-09-29 01:11] thepabloaguilar commented on #630
I've made a test, it failed. How can I push it to check the errors?? Using something like:
[code]

[2020-09-29 01:42] thepabloaguilar commented on #634
Ok, maybe we have problems! We cannot use the return types:
- `Union[Kind2[_SingleFailableKind, ...], Kind2[_DiverseFailableKind, ...]]` (known issue #631)
- `Kind2[Union[_SingleFailableKind, _DiverseFailableKind], ...]`(this I tried to figure out, but have no idea yet)

[code]

Output:
[code]

[2020-09-29 07:52] sobolevn commented on #630
`xfail` as I have mentioned earlier: https://docs.pytest.org/en/latest/skipping.html

[2020-09-29 07:53] sobolevn commented on #634
Try this:

[code]

Or:

[code]

[2020-09-29 07:56] #637 closed

[2020-09-30 05:18] thepabloaguilar opened #649 "Bad highlight of keyword on documentation"
# Bug report

## What's wrong

When we search something in the `returns` documentation the highlighted term is hard to see on the page. See the example below, this is the `Result` container page and I searched by `result` keyword:

![image](https://user-images.githubusercontent.com/25423500/94645581-91535280-02c2-11eb-8c03-46f637e70be5.png)

URL to reproduce: https://returns.readthedocs.io/en/late

[2020-09-30 07:22] abhinav72610 commented on #649
i want to work on this .. can you assign me

[2020-09-30 09:30] sobolevn commented on #649
Thanks a lot, @abhinav72610 !

[2020-10-01 04:28] thepabloaguilar commented on #630
I'm having some problems to figure out how I can make `symmetry_law` fail!!

[code]

[2020-10-01 05:26] thepabloaguilar commented on #634
None of the options worked 😢

First option:
[code]

Second option:
[code]

[2020-10-01 07:26] sobolevn commented on #630
We can have just any law that fails.

[2020-10-01 07:39] sobolevn commented on #634
Try this:

[code]

[2020-10-01 07:43] sobolevn opened #650 "`@kinded` and `@overload` does not work together"
mypy just fails.

[2020-10-01 08:17] #650 closed

[2020-10-01 09:58] abhinav72610 commented on #649
@sobolevn i'm new to this community can you guide me with the directory i nwwd to do the changes

[2020-10-01 12:28] sobolevn commented on #649
@abhinav72610 I don't know 🙂

I have never seen an issue like this. It is somewhere in https://github.com/dry-python/returns/tree/master/docs

[2020-10-01 18:26] thepabloaguilar commented on #630
Nice, I'll remove the `equable.SupportsEquality`

[2020-10-02 05:24] thepabloaguilar commented on #636
@raoashish10 are you working on this issue?

[2020-10-02 05:54] raoashish10 commented on #636
Yes I am @thepabloaguilar My bad I have been caught up a little in some other work

[2020-10-02 06:16] thepabloaguilar commented on #636
Ok, don't worry!

[2020-10-02 06:19] thepabloaguilar commented on #649
@abhinav72610 here is the theme's [documentation](https://sphinx-typlog-theme.readthedocs.io/en/latest/), maybe can help you!

[2020-10-02 07:43] sobolevn opened #655 "Missing `methods` module docs"
Currently we don't have docs for https://github.com/dry-python/returns/tree/master/returns/methods

It should be similar to this page: https://returns.readthedocs.io/en/latest/pages/pointfree.html

[2020-10-02 12:56] MichaelAOlson commented on #655
Hey @sobolevn, I would like to work on this. Would you assign it to me?

[2020-10-02 13:43] #634 closed

[2020-10-02 14:00] ShubhamNagure commented on #655
Hi,
Any help needed?

[2020-10-02 14:52] thepabloaguilar commented on #655
@MichaelAOlson you're assigned!

[2020-10-03 07:08] #630 closed

[2020-10-03 07:36] #636 closed

[2020-10-03 19:12] sobolevn commented on #258
https://kowainik.github.io/posts/haskell-mini-patterns#phantom-type-parameters

[2020-10-04 03:01] thepabloaguilar commented on #649
@abhinav72610 are you working on this issue?

[2020-10-04 11:19] sobolevn opened #660 "Add "Quickstart" guide"
We already have quite a lot of docs. Even our readme is long enough.
We need a separate "Quickstart" guide to show how can one start using `returns` in minutes.

[2020-10-06 07:38] sobolevn opened #663 "Support python3.9"
It is just released! We need to add it to our CI and `pyproject.toml` metadata in case everything works correctly.

This should be done after `0.15` release.

[2020-10-08 09:21] timqsh commented on #644
Hi! I would like to help with this.

[2020-10-08 09:32] sobolevn commented on #644
Thanks, @timqsh! Feel free to take this over! 👍

[2020-10-09 05:44] thepabloaguilar commented on #640
The explanation of why it's working we can see below:
![image](https://user-images.githubusercontent.com/25423500/95547298-03214f80-09d9-11eb-874e-5644306c66f6.png)

`RequiresContext` doesn't inherit from `SingleFailable` or any type that inherits from `SingleFailable`

[2020-10-09 05:44] thepabloaguilar commented on #640
But I agree of changing the name!!

[2020-10-09 12:24] sobolevn commented on #640
Any ideas on a better name?

[2020-10-09 17:56] thepabloaguilar commented on #640
I liked your idea: `no_args`

[2020-10-09 17:58] thepabloaguilar commented on #640
What do you think?
I can work on this one today!

[2020-10-09 18:49] sobolevn commented on #640
@thepabloaguilar yes, let's rename it to `no_args`

[2020-10-10 09:10] sobolevn commented on #663
@thepabloaguilar do you want to work on this? 🙂

[2020-10-10 09:11] #410 closed

[2020-10-10 09:12] #640 closed

[2020-10-10 09:14] #649 closed

[2020-10-10 10:52] sobolevn opened #670 "Some containers still do have `__str__` defined and not `__repr__`"
Like `Nothing` or `IOResult`

[2020-10-10 10:58] #670 closed

[2020-10-10 11:15] #660 closed

[2020-10-10 11:16] sobolevn commented on #655
@MichaelAOlson friendly ping. Do you need any help from our side? 🙂

[2020-10-10 11:31] sobolevn opened #672 "Make `_ReturnsAsserts` class of our pytest plugin public and fully typed"
Since `pytest@6.0` introduced type-annotation, it is now a good practice to type your tests.
We already partially do that. But, we don't type our own `pytest` plugin.

What should we do?
- [ ] Make sure `ReturnsAsserts` is public
- [ ] Make sure it is type correctly: for now some method partially miss typings
- [ ] Make sure that we use `def test_*(returns: ReturnsAsserts):` everywhere in our test

[2020-10-10 11:51] sobolevn opened #673 "Make `assert_equal` a part of our `pytest` plugin"
Currently, we don't have an access to https://github.com/dry-python/returns/blob/master/returns/primitives/asserts.py#L1 from our `pytest` plugin here: https://github.com/dry-python/returns/blob/master/returns/contrib/pytest/plugin.py#L49.

But, I think we should!

We can also try to provide  better typing for `assert_equal` based on several overloads:
1. `RequiresContextFutureResultLikeN` type th

[2020-10-10 13:39] sobolevn opened #674 "Rename several interfaces to follow our naming pattern"
Because currently we have interfaces like:
- `CanBeCalled`
- `SupportEquality`

Let's replace them with adjectives!

We also have `AsyncFutureN` which is really `AwaitableFutureN`

[2020-10-10 14:18] sobolevn opened #675 "`.from_*` methods must return `Any` in places where type is not known"
Currently we have issues in typing several containers that behaves differently from `Result` and similar types.
For example, `Pair.from_value` should return `Pair[_T, _T]`. But, currently it is not valid.
Because the required type is `Pair[_T, NoReturn]` which is not valid.

[2020-10-10 14:47] sobolevn opened #676 "`.swap` method should be a part of `BiMappable`"
It is not specific to `Failable` types.
For example `Pair` type can use `.swap`.
But, `Pair` is obviously not a failable type. It is a type of two arguments. That's it.
And `BiMappable` represent it just fine!

[2020-10-10 14:50] MichaelAOlson commented on #655
Sorry @sobolevn , life got a little busy. I plan to work on+finish this tomorrow. Thanks for the ping 👍

[2020-10-10 14:52] sobolevn commented on #655
No worries ✋

Looking forward to reviewing it 🙂

[2020-10-10 14:53] sobolevn commented on #675
Nope, that's incorrect. Because, actually `Pair` is not applicative. Because it is impossible to construct a `Pair` from a single value.

[2020-10-10 14:53] #675 closed

[2020-10-10 14:54] sobolevn commented on #675
And `typing` was protecting me from this mistake!

[2020-10-10 15:45] sobolevn opened #678 "Move several examples from the docs to tests and then `literalinclude` them"
We have several quite large examples that live in our docs:
1. https://github.com/dry-python/returns/blob/master/docs/pages/future.rst#futureresult
2. `Number` example from: https://github.com/dry-python/returns/blob/master/docs/pages/contrib/hypothesis_plugins.rst#check_all_laws
3. https://github.com/dry-python/returns/blob/master/docs/pages/context.rst#requirescontextfutureresult-container

What

[2020-10-10 19:34] thepabloaguilar commented on #663
I can do it!!

[2020-10-10 19:50] #644 closed

[2020-10-10 20:09] thepabloaguilar commented on #663
Seems `wemake-python-styleguide` has problems with Python 3.9!

https://github.com/dry-python/returns/runs/1236326288?check_suite_focus=true

[2020-10-10 20:27] thepabloaguilar commented on #663
Well, I think it's not a problem from WPS!!

While opening an issue on WPS Repo, I added the flag `--bug-report` and the pipeline ran successfully: https://github.com/dry-python/returns/runs/1236352395?check_suite_focus=true

[2020-10-10 23:40] #599 closed

[2020-10-10 23:40] #615 closed

[2020-10-10 23:40] #674 closed

[2020-10-10 23:40] #676 closed

[2020-10-12 08:01] sergeycrisp commented on #678
Hi, we should paste this :

 .. literalinclude:: ../../tests/test_docs/test_${SOME_NEW_FILENAME}.py
   :linenos:

instead of examples, or only add near. In a nutshell, what result have to be?

[2020-10-12 08:04] sobolevn commented on #678
In a nuthshell, we have to create a similar structure of all of the examples in my original post:
1. Files: https://github.com/dry-python/returns/tree/master/tests/test_examples
2. Includes: https://github.com/dry-python/returns/blob/master/docs/pages/create-your-own-container.rst#step-3-new-interfaces

Do you want to work on this?

[2020-10-12 08:41] sobolevn opened #680 "Swappable should be a separate interfaces, not BiMappable"
I can see different use-cases, when some `BiMappable` cannot be `swap`ed. For example: `Dict`-like structures.
The rule of thumb here is: it is better to have more interfaces.

So, what we need to do?
1. Create new `SwappableN` interface in `returns.interfaces.swappable`, it should extend `BiMappable`
2. Move `swap` definition from `BiMappable` in `SwappableN`
3. Fix inheritance where possible: `F

[2020-10-12 09:30] #655 closed

[2020-10-12 10:10] #680 closed

[2020-10-14 07:43] sobolevn commented on #631
It is now released in `0.790`

[2020-10-14 07:48] sobolevn commented on #631
So, the plan is:
1. `@kinded` and `Kinded` can be now applied to any callable
2. That has `KindN` at least somewhere in the return type
3. If not, we can raise an error from the plugin
4. We need to change our transformation function to use `TypeTranslator`
5. That will change `KindN[_Instance, _First, _Second, _Third]` into `_Instance[ _First, _Second, _Third]` and keep the other structure!

So,

[2020-10-14 07:51] sobolevn commented on #631
Here's the old method https://github.com/dry-python/returns/blob/master/returns/contrib/mypy/_features/kind.py#L114-L128

[2020-10-19 08:34] sobolevn opened #686 "Incorrect example in FutureResult"
We need to update our docs:
1. Mention `asyncio.gather` in the comments
2. Use https://anyio.readthedocs.io/en/latest/tasks.html to run tasks async

[2020-10-20 09:56] #631 closed

[2020-10-20 19:46] #672 closed

[2020-10-20 21:50] #673 closed

[2020-10-21 08:23] sobolevn commented on #686
Related to #678

[2020-10-21 08:27] sobolevn commented on #686
@theFong do you want to work on this? 🙂

[2020-10-21 10:32] #517 closed

[2020-10-21 16:29] sobolevn commented on #565
Ok, we also have a problem with using `gather` with `ReaderFutureResult` and some examples of `FutureResult`.
We would need to work on this in the future versions.

[2020-10-21 16:30] #686 closed

[2020-10-23 08:23] sobolevn opened #693 "Make `_Nothing.__new__` a real singleton"
Currenlty, it is still possible to produce another `Nothing` instance.
Example:

[code]

https://github.com/tek/amino/blob/master/amino/maybe.py#L163-L168

[2020-10-23 22:09] sobolevn commented on #663
I have merged`python3.9` support into `wemake-python-styleguide`. But, it is not yet released.

[2020-10-23 22:20] thepabloaguilar commented on #663
Do you know when you'll release it?

[2020-10-23 22:28] sobolevn commented on #663
In a month!

[2020-10-23 22:28] sobolevn commented on #663
Btw, any help is appreciated (especially with existing bugs)

[2020-10-27 09:44] sobolevn opened #700 "Example / Playground is outdated"
I was not able to configure it to use `git pull` each time someone starts a new session.
So, I am open to any suggestions about using any other platforms.

[2020-10-27 11:30] makarchuk commented on #647
This seems to be solving the same problem
1) https://docs.rs/itertools/0.5.9/itertools/trait.Itertools.html#method.fold_results -- pretty straightforward and aiming at results
2) https://docs.rs/itertools/0.5.9/itertools/trait.Itertools.html#method.fold_while -- more general, but requires a function to be aware of calling convention, which is somewhat inconvenient. Can be used as underlying buildi

[2020-10-27 11:39] sobolevn commented on #647
@makarchuk yes, that's exactly the same 🙂

We just need to think about the API and implement a single `fold_failable` in https://github.com/dry-python/returns/blob/master/returns/iterables.py

Do you want to work on it? 🙂

[2020-10-27 13:55] makarchuk commented on #647
I do, but currently I'm struggling to wrap my head around type signatures you're using. HKT is a concept I've known for a while, but never understood, so I'm stuck at figuring out signature of `loop_failable` at the moment.

I'm not sure what a signature of `Callable` should be. It should be something like `Result[_UpdatedType, _ErrorType]` but that's not flexible enough (only supports `Result`s,

[2020-10-27 15:12] sobolevn commented on #647
You can start small without any signatures at all.

It is a common interfaces for all types that can fail, like `Result` or `Maybe` or `IOResult` or `FutureResult`.
Think of it as a `Container` with `lash` method.

[2020-10-29 20:13] kyprifog opened #704 "Flow Equivalent to Setting variable"
What is the `flow` equivalent of setting a local value like `foo` in this scala for comprehension:
[code]

[2020-10-29 21:19] sobolevn commented on #704
See #392

We are discussing it there 🙂

[2020-10-29 21:19] #704 closed

[2020-10-29 21:39] kyprifog commented on #392
This is maybe obvious and the reason you chose it, but I like `with` and `as` because its consistent with how with is used here:
[code]
which is also consistent with how Resource is used in scala cats and other monadic behavior.   I'm not crazy about the needs_raw notation though and it would make sense to stick with `bind` to indicate flatmap like:
[code]

[2020-10-30 10:59] sobolevn opened #706 "Measure and possibly refactor `flow` function"
Maybe it is better to use `for` loop inside a `flow`'s body? Let's measure.

`flow` is a hot path, so we need to speed this up as much as we can.
Link: https://github.com/dry-python/returns/blob/0f7d02d0c491a7c65c74e6c0645f12fccc53fe18/returns/_internal/pipeline/flow.py

[2020-10-31 17:46] joelberkeley opened #708 "HKT subtype method signature "incompatible with supertype""
# Bug report

I'm following [your docs](https://sobolevn.me/2020/10/higher-kinded-types-in-python) for HKTs. Thanks for the new feature btw. I'm seeing type errors that I don't understand

[code]
I'm seeing
[code]
Can you help explain what's wrong? In the docs you use
[code]
whereas I use `Kind1`. Am I doing that right?

On a separate but related note, I was also seeing, for map signature on `Grou

[2020-10-31 18:51] sobolevn commented on #708
Hi, @joelberkeley! Thanks a lot for trying `returns` out!

There are couple of things I would like to highlight:
1. You abstract definitions should not be `@kinded`, because `mypy` won't allow to override it. That's how it works for now. Because internally all `@kinded` functions are `Kinded[func]` decsriptors. And `mypy` does not allowed to override custom descriptors. I will submit a patch to `m

[2020-10-31 18:53] sobolevn commented on #708
We only officially support `0.790`, I recommend to update it as well!

[2020-10-31 19:25] joelberkeley commented on #708
thanks, that fixes the errors with `map`

oh ok, why's that? the return type on the implementations aren't `Kind1`, so why is `@kinded` necessary?

I'm now seeing
[code]
Replacing the type with `Kind1[One, U]` with or without `@kinded` doesn't fix it

[2020-10-31 19:47] sobolevn commented on #708
My bad, I am reading this in bed 😆

Here's how to fix it: https://github.com/dry-python/returns/blob/master/returns/io.py#L130

[2020-10-31 20:26] joelberkeley commented on #708
ok, thanks. I can then get it to pass using `dekind` within the method.

A bit of feedback: It would be really nice if there was some way of being able to specify `One[U]` in the function arguments rather than `Kind[One, U]`, as it's much more readable and is standard type hint style. I appreciate we can't do this when `One` is replaced by a generic type constructor e.g. `G`, but it would be great

[2020-10-31 20:26] #708 closed

[2020-11-01 11:39] sobolevn opened #709 "HKT with specific types"
This example does not work, because `mypy` believes that `_UpdatedType` in `function` is incorrect:

[code]

Output:

[code]

But, it should work.

The first possible solution is to make all intefaces generic on `_UpdatedType`. But, it does not look like the best idea.
The second possibility is to check how `mypy` work in this case and submit a patch.

[2020-11-01 12:32] sobolevn commented on #709
Or should it? https://gitter.im/python/typing?at=5f9ea86bf2fd4f60fc4872ed

[2020-11-01 15:28] sobolevn commented on #709
Ok, this is actually correct. Because ﻿`MappableN.map` can work with any function, but `BadExample.map` with only a subset of it. So, it would not work with `map` pointfree for example.

See https://gitter.im/python/typing?at=5f9ec4cc74152347c2098782

So, if you want custom `map`, call `map_numeric` and define it as you with.

[2020-11-01 15:28] #709 closed

[2020-11-03 11:29] sobolevn opened #716 "Consider refactoring"
We have almost completely re-invented how to get callable arguments by name, position, and type:

https://github.com/dry-python/returns/blob/c243100ce672a8fb84caf2d0dfb224acfbaa097e/returns/contrib/mypy/_typeops/transform_callable.py#L63-L97

But, `mypy` already has this:

https://github.com/python/mypy/blob/52702e588ad2b8702ad74888ea10df852af1f035/mypy/typeops.py#L289

Maybe, we can reuse it?

[2020-11-09 07:58] #693 closed

[2020-11-09 20:00] sobolevn opened #721 "Update `add-path` in github actions"
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

[2020-11-10 03:58] thepabloaguilar opened #722 "Creates `Third Party` documentation section"
I think it would be great to create a section in our documentation to listing some contents built with `returns`, I have some examples from [__agones__](https://agones.dev/site/):

* [Videos and Presentations](https://agones.dev/site/docs/third-party-content/videos-and-presentations/)
* [Podcasts](https://agones.dev/site/docs/third-party-content/podcasts/)
* [Libraries and Tools](https://agones.de

[2020-11-10 07:06] sobolevn commented on #722
100%

[2020-11-12 13:54] sobolevn opened #723 "Use autosummary for interfaces, functions, and pointfree docs"
We need to add `.. autosummary::` to pages that need it.
We also need to make sure that this tag renders smoothly.

Usage example: https://github.com/wemake-services/wemake-python-styleguide/blob/ba060dfd18606365d4c09545554b595fce025e79/wemake_python_styleguide/violations/best_practices.py#L16-L17
Docs: https://www.sphinx-doc.org/en/master/usage/extensions/autosummary.html

[2020-11-12 16:38] kyprifog commented on #392
@sobolevn any other thoughts about this?  Is anyone working on this yet?

[2020-11-12 18:55] sobolevn commented on #392
Nope, this issue is not in the works right now. I like the generator expression approach:

[code]

With the support of async generators for `Future`.

Do you want to work on it?

[2020-11-30 03:30] kyprifog opened #730 "Question: Tuple returns as arguments"
How would you do something like the following, ie unpack tuple as arguments for next function within flow

[code]

[2020-11-30 10:16] sobolevn commented on #730
You would have to use a `lambda` function: `bind(lambda my_tuple: method_b(*my_tuple))`

[2020-11-30 13:34] kyprifog commented on #730
I tried that, but for some reason any time I use `bind(lambda a:` in dry python in any context I get "unknown first argument for bind function.

[2020-11-30 16:07] sobolevn commented on #730
Yes, looks like `lambda` cannot be infered here. I would recommend to create an intermediate function in this case:

[code]

[2020-11-30 16:22] kyprifog commented on #730
Yeah this is what I settled for, but it would be nice if tuples could be inferred (or have an option) to be function arguments by default?   Maybe thats a little overreaching though.

[2020-11-30 16:57] sobolevn commented on #730
I will investigate! Cannot promise, though 😞

[2020-11-30 17:06] kyprifog commented on #730
Sounds good, let me know, I may come back and revisit if I get a break, I have a couple things in this library that I want to try to push along now that I'm using it more widely.

[2020-12-02 21:38] thepabloaguilar commented on #730
@sobolevn What about create a helper function?
[code]

`unpack_args` could work with `list`, `tuple` and `dict`. Maybe we'll just need some magic in our `mypy` plugin!

[2020-12-02 23:04] kyprifog commented on #730
I thought about this, this is probbably a good middle ground / short term solution.  Although, tbh, I was having so many issues with flow i've stopped using it for now.

[2020-12-03 21:13] kyprifog commented on #565
I ran into the same issue when running the sample code:
[code]
which resulted in
[code]
Stylistically is there a better way or is the Runtime Warning still unavoidable at this point?

[2020-12-04 20:24] thepabloaguilar commented on #721
I think we don't need that update:

Here we don't use `set-env` and `add-path`!

[2020-12-05 08:19] #721 closed

[2020-12-05 08:19] sobolevn commented on #721
Thanks!

[2020-12-06 07:16] sobolevn commented on #392
https://github.com/oleg-py/better-monadic-for

[2020-12-08 10:06] enzoschmidlin opened #738 "Question: IOResult usage"
Hi!

First of all, this is a great library, very high quality code and documentation. Thank you!

I have been trying to implement it in a personal project - mostly as a learning opportunity. It is some IO-heavy code, with API endpoints and DB usage - not ideal, but a real-world application :) I ran into some questions about `IOResult` and couldn't find the answers, I was wondering if you could hel

[2020-12-08 10:21] sobolevn commented on #738
Hi, @enzoschmidlin!

Thanks for your kind words!

That's what I think about the listed problems:
1. I usually coerce `IOResult` to `IO[Result]` first, then I can use `unsafe_perform_io`. It might be also helpful to coerce the `IO[Result]` into `IO[Value]` or `IO[Union[]]`
2. Yes, parts that are touched with `IO` should be dealing with `IO` forever. The main idea is that I try to find as many pure

[2020-12-08 10:43] enzoschmidlin commented on #738
Thank you for your incredibly fast response @sobolevn! This is very helpful!

[2020-12-08 10:43] #738 closed

[2020-12-08 21:00] Sam-Persoon commented on #706
I did some experimentation with this where I refactored flow to:
[code]

I did not encounter any noticeable differences when using tests like:
[code]

The same holds true for smaller flows like
[code]
This makes sense as the internals of reduce is almost a copy of my `_flow_for` function with only special handling if no initial value is specified, but this should be negligible as the wrapping in a

[2020-12-24 00:15] dan-sel opened #760 "Improve motivating example for Maybe"
The current example motivating the use of `Maybe` is somewhat misleading because it solves a made-up problem:

Alleged original "python" code:
[code]
Alleged "better" solution using `Maybe`:
[code]

Usual python code solving this exact problem:
[code]

The example is based on the very bad habit of signaling errors by return values, e.g. returning `None`.

No sane (python) developer would write a f

[2020-12-24 08:53] sobolevn commented on #760
@dan-sel thank you for your feedback!

I have heard several opinions that the current `Maybe` example is not so great. I and seem to agree.
I would think about other possible examples here. Any suggestions are welcome.

In my practice I don't use `Maybe` that much, because I prefer to use `Result` that covers almost all cases.

[2020-12-26 14:23] sobolevn opened #765 "Sync pr/branch CI setup"
https://github.com/wemake-services/django-test-migrations/blob/master/.github/workflows/test.yml

[2020-12-27 08:51] #765 closed

[2021-01-20 14:12] ChameleonTartu opened #790 "Question: How to restore after failure in the middle of the flow?"
I am working for some time with railway-oriented programming and think that it is a cool paradigm.

I got a case that I cannot wrap up my head around.

[code]

This issue is that sometimes I need to rescue between `apply_handler_one` and `apply_handler_two`.

There are many ways how to do it. One is to store the state before applying `flow`, but maybe there is a better way?

[2021-01-21 08:48] sobolevn commented on #790
Hi, @ChameleonTartu!

So, you basically have just two options to act when something fails:
- You can use `alt` to change the failure type
- You can use `rescue` to change any failure to the desired success type

There are some helpers around it, like `bimap`, which either `map`s or `alt`s.

I don't really follow why do you want to store the state, but I guess this is specific to your usecase.

[2021-01-21 08:57] dmrz opened #792 "Pylint hangs when running on a module that has type annotations from returns"
I've noticed pylint is hanging (vscode's python plugin started to consume 100% CPU) when trying to lint a module that has type annotations from returns library.

Consider the following `test.py`:
[code]
Running `pylint test.py` will hang forever.

Not sure if the problem is with returns or pylint itself (or maybe something with my local setup, tried both with my regular pylint config and without i

[2021-01-21 09:33] sobolevn commented on #792
Hi, @dmrz!

Hae you opened a bug in `pylint`?
Can you please post a link here?

[2021-01-21 09:34] sobolevn commented on #792
I am not a pylint user, I can shamelessy plug: https://github.com/wemake-services/wemake-python-styleguide

[2021-01-21 09:51] dmrz commented on #792
Hi!
I didn't, since I am not sure yet what is the source of the problem, just was wondering if anyone experienced the same before.
Not a pylint fan, but there're projects I work on that use it. I will check that WPS, thanks!

[2021-01-21 09:55] sobolevn commented on #792
I am pretty sure that this is on `pylint`, bacause our annotations work with:
- python
- flake8
- `mypy`
- `pyright`
- etc

And since we use it to the max, possibly there's a regression in `pylint`'s infering logic.

[2021-01-22 12:27] ChameleonTartu commented on #790
@sobolevn I was thought about rescuing, but when I rescue from the `Failure` state, I don't have data anymore but only an exception. If I change the function and return the data, I will break SRP (Single Responsibility Principle).

Therefore, there are 2 ways to proceed, store state and restore from this state or change the function's scope and break SRP. Both ways are not good, but what other opt

[2021-01-22 19:37] sobolevn commented on #790
You can have a custom exception type that can store your data inside or use `Result[SuccessType, FailureType]` where `FailureType` is not an exception (that's completely fine!)

[2021-01-27 18:11] sobolevn commented on #525
Well, I was wrong. `LazyIO` is not `IO(lambda: x)` it is `lambda: IO(x)`

[2021-02-03 05:03] narakhan opened #807 "Standard library map on bound function"
# Bug report

Mypy does not appear to correctly handle the standard library `map` function over an iterable of containers that returns an iterable of containers, when the function being mapped over the data has had `returns.pointfree.bind` applied to it. The same code when used without `map` (by explicit use of a for-loop) or a `bind` (by explicitly handling a container input) will not result in a

[2021-02-04 01:04] thepabloaguilar commented on #807
@narakhan Thanks for your report

[2021-02-04 01:05] thepabloaguilar commented on #807
@sobolevn seems we have a problem in our plugin or in the typing of `map`!

[2021-02-04 01:15] thepabloaguilar commented on #807
Well, I think it's our plugin!
Minimal example to reproduce:
[code]

[2021-02-04 01:37] thepabloaguilar commented on #807
When we separate a bit the code we don't have that error anymore while using `map`, but I got an error calling `h`!!
Code example (almost the same except the `__main__` part):

[code]

Output:
[code]

[2021-02-04 02:23] narakhan commented on #807
From the mypy logs it appears to be that `KindN[Result[Any, Any], int, Exception, NoReturn]` is not being recognised as equivalent to `Result[int, Exception]` which is why it wont error unless you explicitly type the output as being required to be of `ResultE[int]`, so it only shows up if a function like `h` exists, it's fine otherwise.

Sorry about not submitting a fix or more in depth report tha

[2021-02-10 17:31] horta opened #813 "Kind of Kind"
# Bug report

## What's wrong

I would like to do

[code]

Such that the `step` parameter of `Step.foo` has the type-hint `Step[_A, _S[_A]]`.
<img width="2394" alt="kind" src="https://user-images.githubusercontent.com/514522/107547680-9eb01000-6bc5-11eb-8ad1-2c814a220754.png">

## System information

- `python` version: Python 3.9.1
- `returns` version: master:1fec2a8a79175da5afa39695e3ccc177c8c73

[2021-02-10 17:33] horta commented on #813
I have just tried

<img width="580" alt="kind2" src="https://user-images.githubusercontent.com/514522/107547990-05352e00-6bc6-11eb-8623-7b92017a2c6e.png">

Was that supposed to work?

[2021-02-10 19:39] sobolevn commented on #813
Nested kinds are not supported at the moment 😢

[2021-02-10 23:20] horta commented on #813
I figured. This is an improvement then but I wonder if it is worth the work.

[2021-02-11 01:21] thepabloaguilar commented on #663
Issue solved by 017ba7e34a62e60b8251cd27abe9999359d46e9d

[2021-02-11 01:21] #663 closed

[2021-02-11 09:54] sobolevn commented on #813
I have some use-cases when this would be a good thing to have. It really depends on how much time / effort / hacks are required to make it work.

[2021-02-13 13:10] lordgordon opened #816 "Documentation: possible error in "Collecting an iterable of containers into a single container" example"
Looking at the section ["Collecting an iterable of containers into a single container" in the Container](https://returns.readthedocs.io/en/latest/pages/container.html#collecting-an-iterable-of-containers-into-a-single-container) page of the documentation, the following example is presented:

[code]

The type of `fetched_values` shouldn't be `List[Maybe[int]]`?

[2021-02-14 09:28] sobolevn commented on #816
@lordgordon yes, it should! Can you please send a PR with the fix?

Thanks! 👍

[2021-02-14 13:11] #816 closed

[2021-02-17 01:58] thepabloaguilar commented on #189
I think we can use [manim](https://3b1b.github.io/manim/getting_started/example_scenes.html), but we would have more work than creating images like @anatoly-scherbakov did 🤔

[2021-02-17 02:27] thepabloaguilar commented on #413
I think this is a really interesting feature, I'd love to work on.
But, is `returns` the right place to create it? Or should we create another lib to put these "specific" things?

[2021-02-17 07:12] sobolevn commented on #189
I am afraid of drawing.

[2021-02-17 07:16] sobolevn commented on #413
@thepabloaguilar it depends on the implementation.

Things to consider:
- We use `RequiresContext` that is not recursion safe
- Trampolines can emulate recursion with safety
- Can we use Trampolines to implement safe `RequiresContext`?

If we can, than Trampolines are going to be a primitive inside `returns`, if not and it has a lot of code - we can always move it to `trampolines` project: https:/

[2021-02-17 11:03] orsinium commented on #189
A huge thread of tools to generate graphics:
https://twitter.com/prathyvsh/status/1326687222507077637

[2021-02-17 21:22] sobolevn opened #823 "Support ParamSpec"
Currently we use a custom `mypy` plugin to fix typings of some decorators.
Plugin: https://github.com/dry-python/returns/blob/master/returns/contrib/mypy/_features/decorators.py

Progress: https://github.com/python/mypy/issues/8645
PEP: https://www.python.org/dev/peps/pep-0612/
Source: https://github.com/python/cpython/blob/366dc3a1354078e38808b9c16276e97cca5b8aaf/Lib/typing.py#L730

Example:

[co

[2021-02-18 00:08] thepabloaguilar commented on #413
Can you tell me where `RequiresContext` is not recursion safe, please?? I'm not finding where recursion occurs 😞

The Trampoline implementation does not have a lot of code, it's simple, but maybe we need to write a plugin code for it!

But, I think we can use Trampolines to implement safe recursion on `RequiresContext`, my point was:
If someone is interested to use only `trampolines`, it'll have t

[2021-02-18 07:04] sobolevn commented on #413
Any method like `.map`, `.bind`, `.ask`, etc: https://github.com/dry-python/returns/blob/master/returns/context/requires_context.py#L149

Try this:

[code]

That's not a bad thing! Because it does not have any resource-overhead for users of only a small part of the lib.

And that's fine too! Especially if you need a `mypy` plugin for it.

[2021-02-19 00:41] thepabloaguilar commented on #823
That's beautiful!!

[2021-02-19 00:42] thepabloaguilar commented on #823
Refs #264

[2021-02-21 22:18] espetro opened #826 "Provide benchmarks for each release"
Hi there,

i love the work you’re doing with `returns`. Perhaps one of the main downsides of applying functional type classes and data types in interpreted languages is that probably you’re worsening your application performance. Do we already have any kind of benchmark to check if this holds?

If `returns` doesn’t have such a tool, I’d love to contribute to it.

[2021-02-22 07:57] sobolevn commented on #826
@espetro it would be awesome to have such a tool! PR is welcome!

[2021-02-25 04:48] thepabloaguilar commented on #413
Ok, I was thinking about here that we can not use the `Trampolines` itself to make `RequiresContext` recursion safe!
But we can use the idea, using iterations instead of recursion. Maybe it's possible.

What's the main reason to use `recursion`?? Because sometimes is easier to design our solution instead of using a loop (for, while)

What's the `Trampolines` idea?? Allow us to write recursively so

[2021-02-25 08:11] sobolevn commented on #413
No, it is clear to me! Thanks a lot!

This looks like a valid idea to try. Will you? 🙏

[2021-02-25 12:56] thepabloaguilar commented on #413
Yep, it'll be fun to try. I'll start to work on this issue on March 4 probably!

[2021-03-11 17:18] martindederer opened #858 "Question regarding mypy return type inference"
Hi guys,

i am new to returns and ran into an issue that i can't seem to figure out. I am having difficulty providing a proper type annotation.

For context: I want to build a variety of pipelines that share similar traits but can differ in certain details. My idea was to create factory functions (see "range_guard" function in example) which return a function that is used in composing the pipeline

[2021-03-11 17:20] martindederer commented on #858
Sorry, i could not find the option to add the "need help" and "question" labels. :|

[2021-03-11 17:42] martindederer commented on #858
Ok, as customary i think i found the solution shortly after creating this issue. Is this the idiomatic solution to the problem?

[code]

[2021-03-11 18:35] sobolevn commented on #858
Hi, @martindederer!

Your last solution (https://github.com/dry-python/returns/issues/858#issuecomment-796917161) looks valid!
The only thing I would change is making `range_guard` to return a function instead. Because, it is better not to curry things if possible.

Don't forget that we have a friendly chat: https://t.me/drypython
You might get help quicker there! 👍

[2021-03-12 11:15] martindederer commented on #858
Thanks for the feedback. :+1:

Apparently jamming the bind decorator in the `range_guard` factory function was what was causing mypy to act up with the implementation in my [initial comment](https://github.com/dry-python/returns/issues/858#issue-829354783). This is the mypy message that i got back then. Apparently mypy was not able to infer the return type correctly.

[code]

Moving the bind call

[2021-03-12 11:44] sobolevn commented on #858
Note, that `range_guard` should have a return type defined as `Callable[[int], Result[int, ValueError]`
It is probably a typo, but nevertheless!

Gald that it helped!

[2021-03-12 11:44] #858 closed

[2021-03-14 22:41] ftruzzi opened #862 "returns.assert_trace doesn't work with @safe-wrapped functions"
First of all, thank you! I really appreciate your work and your help on the Telegram group :)

# Bug report

## What's wrong
`returns.assert_trace` fails to "intercept" containers created from `@safe` decorators.

[code]

The test with the wrapped function returns

[code]

I tried doing this, but no difference:
[code]

## How is that should be
The above test should pass

## System information

- `

[2021-03-14 23:37] thepabloaguilar commented on #862
Hello @ftruzzi, thank you for open this issue!

I found the problem here, our plugin can search the container in the entire call stack, so, the test below should pass:
[code]

The problem here is when we use `safe`, we don't have `func_one` in the call stack anymore, let me try to explain:
[code]

[2021-03-14 23:46] ftruzzi commented on #862
Thanks for the explanation!

I have never looked into the Python call stack, but maybe this can help?

https://medium.com/@genexu/extracting-the-wrapped-function-from-a-decorator-on-python-call-stack-2ee2e48cdd8e

[2021-03-14 23:48] thepabloaguilar commented on #862
Oh sorry, I've just delete it!! I'll put back again below:

Hello @ftruzzi, thank you for open this issue!

I found the problem here, our plugin can search the container in the entire call stack, so, the test below should pass:
[code]

[2021-03-14 23:51] thepabloaguilar commented on #862
@ftruzzi I think the problem here can be other thing, I'm exploring now!

[2021-03-14 23:54] thepabloaguilar commented on #862
Btw, fell free to submit a PR when you find a solution!

[2021-03-15 00:02] thepabloaguilar commented on #862
Ok, we have a weird problem here! I wrote this test below:
[code]

When a run the test, it reaches this line here https://github.com/dry-python/returns/blob/master/returns/contrib/pytest/plugin.py#L138
So, our `_trace_function` is working correctly and the test should pass but something is getting wrong because this `except` here (https://github.com/dry-python/returns/blob/master/returns/contrib/p

[2021-03-15 00:38] ftruzzi commented on #862
good catch! I think the `@safe` decorator itself is catching the exception 😄

[2021-03-15 01:52] ftruzzi commented on #862
@thepabloaguilar I've opened a PR here https://github.com/dry-python/returns/pull/863, let me know if it looks good to you. Thanks!

[2021-03-15 06:37] sobolevn opened #867 "Improve `bind` / `bind_*` docs"
Some users report that it is not clear which function you should use and why.
We need to add more docs about the differences between these functions.

[2021-03-15 17:42] ftruzzi opened #868 "Add a method to get intermediate return values from flow"
Hi!

It would be nice for testing to have a way to retrieve the intermediate result of a flow, in a way similar to how `assert_flow()` works but with the return value.

Example:

[code]

In principle this can be done with `sys.setprofile` (in the trace function and for `return` events, `arg` contains the return value).

Proof of concept example:

[code]

What do you think?

Thanks :)

[2021-03-15 17:53] sobolevn commented on #868
Can you please tell more about your use-case? What exactly are you testing?

[2021-03-15 18:24] ftruzzi commented on #868
Thanks for asking! I'm building a library to upload files on a website. The core of it is robobrowser interacting with forms until the upload is finished and unfortunately there is some shared state and function arguments and return values are not simple.

My flow is something like this: `validate_file -> upload_file -> fetch_new_metadata -> update_metadata -> finish_upload`, exposed through a sin

[2021-03-18 19:23] #706 closed

[2021-03-20 22:15] #862 closed

[2021-03-22 14:54] thepabloaguilar commented on #413
I want to discuss the solution design of this feature `Trampolines` (i'll open another issue for the `RequiresContext`), I see to major design options:

1. The first one is the design from the example you sent, [fn.py (recur.tco)](https://github.com/kachayev/fn.py/blob/master/fn/recur.py):
[code]

Where the users return the arguments to call the function and possibly they can return a new function

[2021-03-22 16:46] sobolevn commented on #413
Which one is easier to type-check?

[2021-03-22 17:07] thepabloaguilar commented on #413
I think the second approach will be easier since we'll have just two return type `Callable[..., ...]` and the final result type:

[code]

_Disclaimer: I didn't test the above code yet_

[2021-03-22 17:15] thepabloaguilar commented on #413
Well, now I prefer the first approach 'cause I'm afraid the amount of `Any`s hahaha
Will be great if you already have `ParamSpec` 😞

[2021-03-22 17:31] sobolevn commented on #413
Thanks a lot! Great research! 👍

Can we remove `Any` from `_RT = Union[tuple[bool, _TRT], tuple[bool, Any, Any], tuple[Callable[..., _TRT], Any, Any]]`?
Because I want trampolines to be designed as safe as actual function calls.

[2021-03-22 17:37] thepabloaguilar commented on #413
For now, we can't remove (I think). Those `Any` represent the arguments to the function that will be called under the hoods!
If we have `ParamSpec` we can easily remove those!

Btw, I've just edited my second comment above! The first example is about second approach (JS like) and the second example is about the first approach (decorator) hahaha

[2021-03-22 17:42] sobolevn commented on #413
@thepabloaguilar is it doable with a plugin?

[2021-03-22 21:08] thepabloaguilar commented on #413
Hummm maybe not, I think we don't have the necessary information! we have? 🤔

[2021-03-23 14:04] thepabloaguilar commented on #413
Maybe we can do some work, the decorator solution will be something like this using `ParamSpec`!!

[code]

I'll try to take a look in our plugin today, I think we can emulate using the same mechanics of `curry`

[2021-03-24 00:08] xkortex opened #874 "Request: Truthiness of Result, Correct way to filter over Iterable[Result]"
Not sure if this is a question, feature request, recommendation, documenting request, or whatnot.

Love what you folks are doing with this library. However, I've been going through the docs and examples and I'm not sure how to handle Result/Option at the boundary with less-functional-style Python. Take the example of filtering over some failure-prone operation.

[code]
out:
[code]

Alright, now I

[2021-03-24 07:01] sobolevn commented on #874
Hi! Thanks a lot for the detailed issue! 👋

I agree, that `is_successful` is not really the first choice.
I had several users confused about it, because it is kinda unrelated on the first sight.

I also agree that `python` devs might expect `bool()` to work on things like `Result`. But, there are some hidden things here:

- It is not clear what we check with `bool()`, the container itself? Or its

[2021-03-24 23:37] xkortex commented on #874
Exciting!

Definitely a good point.

My intuition and least-surprisal is that `Nothing` and `Failure` are Falsy, everything else is Truthy, regardless of container contents. `bool([False])` is true, after all. `IO` and friends would always be True, so no change there. `Failure` is Falsy because you can always call `swap` and check the `.failure()` method. And also by way of analogy to `Some`/`Noth

[2021-03-25 06:56] sobolevn commented on #874
😮

Yes, regular function.

[2021-03-25 19:29] sobolevn opened #875 "Find out how pydantic validates function calls without calling them"
We need to chec how `pydantic` validates function arguments without calling the function itself: https://pydantic-docs.helpmanual.io/usage/validation_decorator/#validate-without-calling-the-function

We need this because our `@curry` implementation relies on this logic. And right now it is very slow.

[2021-03-26 01:53] thepabloaguilar commented on #875
I have a little explanation while I was walking through the code!

The class responsible for is [ValidatedFunction](https://github.com/samuelcolvin/pydantic/blob/4ec6c5290528c32155d9aea0d996ddbf9e34d776/pydantic/decorator.py#L72)! In its `__init__` it process all parameters and types.

When we call `validate(...)` under the hood we're calling [init_model_instance](https://github.com/samuelcolvin/p

[2021-03-26 08:02] sobolevn commented on #875
@thepabloaguilar can we adopt this / similar approach to speed up our `@curry`?

[2021-03-26 14:32] thepabloaguilar commented on #875
Well, `pydantic` approach seems more complicated, I don't know if it'll be faster than our actual implementation.

I have something in mind for a long time, maybe we can use `partial` to build `curry`. Did you try it??
When we have a partial from a partial, both are merged:
[code]

I don't know if it's possible to build something using that approach, it's just thinking!

[2021-03-26 14:42] sobolevn commented on #875
We need some logical flag to decide when to actually call a function: https://github.com/dry-python/returns/blob/master/returns/curry.py#L138-L139

[2021-03-26 14:52] ftruzzi commented on #862
@sobolevn would you mind releasing a new version on PyPI which includes this fix? I'm trying to publish my library and it fails with

[code]

because packages published on PyPI can only depend on other projects published there (https://github.com/pypa/pip/issues/6301)

Thanks!

[2021-03-26 14:55] thepabloaguilar commented on #875
Hummmm. I want to make some tests around `partial` and `pydantic` approach!

Using `partial` we can use the `inspect` module to determine if we need to call:
[code]

---

__Pydantic__:
[This](https://github.com/samuelcolvin/pydantic/blob/4ec6c5290528c32155d9aea0d996ddbf9e34d776/pydantic/decorator.py#L94) for loop is responsible to get all of the function fields. To follow this approach we'll need

[2021-03-26 15:09] sobolevn commented on #862
@ftruzzi yes, sure!

[2021-03-26 15:35] sobolevn commented on #862
@ftruzzi done! Thanks a lot! https://github.com/dry-python/returns/releases/tag/0.16.0

[2021-03-26 15:35] sobolevn commented on #862
I am really excited to see your lib! 👍

[2021-03-26 18:06] xkortex commented on #874
Lol, is that shocked face because you didn't know that function could do that? If so, that's some _really good interface programming right there!_ To have that kind of symmetry over all containers is exactly why I am not sure adding `__bool__` to some containers is the best approach. OTOH, it seems like the way `collect_all` filters Truth-ish containers is by how `apply` behaves for `Some/Nothing`

[2021-03-26 20:10] sobolevn commented on #874
I will have some time to think about all the points you've made. And then return with some feedback.
P.S. It was a pleasure to read! 👍

[2021-03-27 06:00] thepabloaguilar opened #876 "`assert_trace` does not work correctly with functions that use the same decorator"
# Bug report

## What's wrong

Our `assert_trace` from pytest plugin doesn't work correctly when two or more different functions are using the same decorator, it not considers that those functions are different! See the example below:

[code]

That test should fail because we want to assert the `Success` creation inside `func_one`, but I'm calling `func_two` and the test is passing!

## How is tha

[2021-03-27 07:11] sobolevn commented on #876
What if we use `@wraps`? 🤔

[2021-03-27 07:14] thepabloaguilar commented on #876
Also doesn't work, I tested with `safe` too (safe uses wraps)
`wraps` just keep some metadata like name and docstring. But if we get the code from them they are the same

[2021-03-27 11:09] ftruzzi commented on #862
Thanks! Really appreciate your quick reply and help.

Here it is, I know it can be controversial but hopefully you're not against it 🙃 https://github.com/ftruzzi/libgen_uploader

[2021-04-24 06:23] thepabloaguilar commented on #605
Hey @sobolevn, I'm working on this issue but I got a problem with typesafety tests :(

Here's the implementation:
[code]

`pytest` output:
[code]

It should work by the fact we have the `overload` signature correctly!

Do you have any idea of why it's not working?

[2021-04-24 07:05] sobolevn commented on #605
I think that the reason is https://github.com/dry-python/returns/blob/master/returns/contrib/mypy/_features/decorators.py#L26-L27

Try to catch `FunctionalLike` and `Overloaded` types there.

[2021-04-24 07:26] thepabloaguilar commented on #605
Just a question, should it work if we don't use our plugin??

[2021-04-24 07:54] sobolevn commented on #605
It would work partially (except argument types). Because we don't have `ParamSpec` support yet.

[2021-04-24 18:42] thepabloaguilar commented on #605
@sobolevn You were right, the problem is in that statement!

I'll try to fix it!

[2021-04-24 19:39] thepabloaguilar commented on #605
It's not treating tuples correctly 😢

[code]

[code]

[2021-04-24 20:44] thepabloaguilar commented on #605
And that error isn't our fault (I guess), 'cause it is not executing our decorator plugin function!

[2021-04-24 20:48] thepabloaguilar commented on #605
Oh, my fault! I've used wrong parameter name `args` instead of `arg`

[2021-04-24 23:11] thepabloaguilar commented on #605
Ok, now I think I have the same feelings you have about `mypy`!! 😠

The problem is when decorator has parameters, like we trying to do here, see the example below:
[code]

Test case:
[code]

Output:
[code]

[2021-04-25 06:27] sobolevn commented on #605
Yeah, that's a known problem. We had solved it already in the previous versions.
Take a look at our definitions: https://github.com/dry-python/returns/blob/0.14.0/returns/_generated/pointfree/map.pyi#L22
And `mypy` plugin for it: https://github.com/dry-python/returns/blob/0.14.0/returns/contrib/mypy/returns_plugin.py#L46 and https://github.com/dry-python/returns/blob/0.14.0/returns/contrib/mypy/_f

[2021-04-25 18:29] thepabloaguilar commented on #610
https://ramdajs.com/docs/#expand

[2021-04-25 19:07] thepabloaguilar commented on #605
I'm thinking, it is worth it now? I'm saying this because I can implement this and maintain the backward compatibility. The guys who use `safe` without passing the exceptions won't be affected.

In about 4 months we'll have `ParamSpec`

[2021-04-25 19:31] thepabloaguilar commented on #610
https://github.com/cognitect-labs/transducers-python

[2021-04-25 19:39] thepabloaguilar commented on #610
We can implement based in the link above, it was inspired by Clojure implementation that has some cool features like early termination using `Reduced` sentinel!

In fact almost everything there can be translated to returns using typing, specially the transducers parts!
I've written the transducers for map and filter:
[code]

__P.S.: The types in my code are wrong yet 'cause transducers should work

[2021-04-25 20:44] sobolevn commented on #605
Let's wait for it, I guess!

[2021-04-25 20:45] sobolevn commented on #610
Great stuff!

[2021-04-25 20:57] thepabloaguilar commented on #605
No prob!

[2021-04-25 20:57] thepabloaguilar commented on #605
Waiting for #823

[2021-04-25 22:59] efagerberg commented on #525
I know the documentation mentions IOs are not lazy because it would be more familiar to existing python developers and help with using the decorator `impure`. However I am skeptical that this is as useful in practice. Most people using this library are probably starting with some common understanding of the common monads.

Taking my personal experience as an example, I learned explicitly that IO m

[2021-04-26 04:37] thepabloaguilar commented on #610
Maybe is because I'm so tired now after many hours in front of a computer, but I can't figure out how to solve the problem I'm getting.

Transducer map implementation:
[code]

Every type seems correct:
* `function` should be the function we normally pass to a map, like, `lambda item: str(item)`
  * Callable[[_ValueType], _NewValueType]
* `reducing` is the function to reduce/next step, like, `lambd

[2021-04-26 04:48] thepabloaguilar commented on #610
I'd love to know if you have any tips @sobolevn!!

[2021-04-26 04:57] thepabloaguilar commented on #610
Btw, the actual implementation is working normally:
[code]

[2021-04-26 05:07] thepabloaguilar commented on #610
Ok, I think the composition I've made is wrong! I'll see tomorow

[2021-04-26 18:27] thepabloaguilar commented on #610
@sobolevn I remember a discussion from #451, what will be a great name for this feature?

Options:

- Transducers (no change the name)
- Transform
- Reducees (from [Elixir](http://blog.plataformatec.com.br/2015/05/introducing-reducees/), tks @bruno-delfino1995 for the link)
- (Other options you can suggest)

[2021-04-27 03:16] thepabloaguilar commented on #610
Well, my composition was wrong and my thought too hahaha

The types are working correctly with the composition:
[code]

[2021-04-27 06:07] thepabloaguilar commented on #610
@sobolevn You can see the progress in [this](https://github.com/dry-python/returns/pull/904) draft PR (yet) or in a very preview documentation [here](https://returns--904.org.readthedocs.build/en/904/pages/transducers.html)

[2021-04-27 14:19] thepabloaguilar commented on #610
I have a suggestion, in the actual implementation way the user need to build "everything" by hand like:
[code]

My ideia is to incapsulate in a class:
[code]

Using a class makes clear to the users that they are receiving a transformation instead of a random function!

[2021-04-27 14:36] sobolevn commented on #610
Yeah, why not!

[2021-04-28 03:45] thepabloaguilar commented on #610
Well, after some tests I can't find a great solution design 😞
The user most provide a function, and this function can be different (map != filter)
My idea now is to provide `.from_(map, filter)` method to initialize the instance, but I think it is not worth it!
For each transducer function we will need to add an initialization method.

Do you have any suggestion @sobolevn?? If not, I'll continue w

[2021-04-28 06:51] sobolevn commented on #610
Sorry, I don't understand. Can you please show me the code?

[2021-04-28 13:53] thepabloaguilar commented on #610
Sure, but think in our Result container where we have `.from_value(...)`, `.from_failure(...)`. It's the same concept but will we have more than two `from_*`:
[code]

[2021-04-28 14:01] thepabloaguilar commented on #610
Oh, wait. I think I cannot do that, the idea behind transducers is to remove the __rule__ from the process. `Transducers` don't care about the user input or output.
If the users make `Transformations[List[str], int]` they will be putting this rule again! 🤔

[2021-04-28 16:10] sobolevn commented on #258
Related article: https://blog.drewolson.org/declarative-validation

PureScript: https://pursuit.purescript.org/packages/purescript-validation/5.0.0
Kotlin: https://arrow-kt.io/docs/apidocs/arrow-core/arrow.core/-validated/

[2021-05-02 19:53] thepabloaguilar commented on #610
This is what I will do, continue with the first approach and then I can think about improvements!

[2021-05-08 02:47] thepabloaguilar commented on #610
@sobolevn I need your help a little, I'm planning to finish the implementation this weekend!

We have the `transduce` function right here:
[code]

Sometimes I just want to pass an empty list to the initial value, like:
[code]

And I receive this error from mypy:
[code]

To fix this issue I need to type hint that list:
[code]

Do you know a way to avoid that??

[2021-05-08 07:24] sobolevn commented on #610
No, this is pretty annoying bug in how mypy works, the thing is `[]` is sometimes `List[never]` and sometimes `List[any]`.
Right now it is not working this way 😞

[2021-05-09 05:46] thepabloaguilar commented on #610
Sad 😭 😭
So, I'll continue as is!

[2021-06-25 04:31] thepabloaguilar commented on #790
Closing this issue due inactivity!

@ChameleonTartu fell free to reach us out again or reopening this issue if you didn't find a great solution!

[2021-06-25 04:31] #790 closed

[2021-06-26 03:20] thepabloaguilar commented on #826
Maybe we can use of theses libs:
* [pytest-benchmark](https://github.com/ionelmc/pytest-benchmark)
* [pyperformance](https://pyperformance.readthedocs.io/index.html)

[2021-07-14 04:09] bgrounds commented on #392
A couple of thoughts here:
* I don't believe you can typically mix different types of monads in the same do block (in pure functional languages that enforce strong static types). This is the problem that [monad transformers](https://en.wikibooks.org/wiki/Haskell/Monad_transformers) solve. In this particular case, you'd probably just convert your Maybe value into a Result value and use 2 Result val

[2021-07-15 04:36] bagrounds commented on #392
Illustration in Haskell:
[code]
https://replit.com/@bagrounds/do-notation#main.hs

[2021-07-27 09:36] internetimagery commented on #868
Perhaps if bind didn't just assume the returned value was the correct monadic instance (returning it directly), and instead attempted a map, then join... a subclass of a monad could be used (and propagated) through the flow, which could be used for assertions etc.

[2021-08-12 11:48] internetimagery commented on #605
Could you use a helper function, to composition, and then employ that as the base for the decorator with a bit or currying? ie

[code]

[2021-08-12 22:59] internetimagery commented on #605
Or use an intermediate object to carry the typed parameters. Unsure if this helps, or I'm just missing the point. Sorry if the latter. :)

[code]

[2021-09-03 00:05] EricSchles opened #1049 "Further explanation needed"
Hi all,

Big fan of functional programming.  I'm glad to see ya'll trying to bring this to Python.  My question / request is pretty basic, I hope.  I was looking over the docs and I saw:

`result: Result[int, Any] = Success(1).map(double)`

When looking at this I was confused for a couple of reasons, since the syntax is new to me.  But the biggest stumbling block was the:

`result:`

I couldn't fi

[2021-09-03 05:58] sobolevn commented on #1049
Hi! @EricSchles thanks for your question.

`result: Result = ` is a variable with type annotation. It uses the standard Python's syntax: https://www.python.org/dev/peps/pep-0526/#specification

I will add links to peps somewhere early in the docs.

If you are asking about `: Result[int, Any]` part, we set it because that how **type** annotations work 🙂
By this we highlight that `result` variable h

[2021-09-03 13:15] EricSchles commented on #1049
Ah okay, I get it now.  I think it would be helpful to show standard mypy
syntax in a function call and then show the variable assignment using your
thing.  And then just say that these are equivalent.  That’s the simplest
jump, I think.  Linking to the pep’s is probably overkill.

On Fri, Sep 3, 2021 at 1:58 AM Nikita Sobolev ***@***.***>
wrote:

[2021-09-08 08:16] sobolevn commented on #56
Now it is `result.alt(raise_exception).unwrap()`

[2021-09-15 02:19] internetimagery opened #1066 "Any plans to move higher kinded typing (mypy) to a separate project?"
Hey good people!

I very much love what is being done here.

My question is in regards to the higher kinded static typing that has been worked on.
What is the foreseeable future for HKT in mypy?  If it is likely that official support will need to remain in plugin form as is the case here, are there any plans to generalize it (it seems already generalized) and pull it into its own thing?

Certainly

[2021-09-15 07:06] sobolevn commented on #1066
Hi! Thanks for the idea! I will try to generalize it soon. But, not ETA yet.

[2021-09-16 19:58] fadedDexofan opened #1071 "Plugin generates incompatible type overloads for @curry decorated functions with TypeVar"
# Bug report

## What's wrong

returns mypy plugin generate incorrect type overloads for curry decorated function with TypeVar arguments

Code to reproduce issue:
[code]

Mypy gives incompatible type overloaded function error for both curried functions:
[code]

## How is that should be

Type overloads for functions with TypeVar's should be generated correctly

## System information

- `python` ver

[2021-09-17 22:31] fadedDexofan commented on #1071
Found that error disappears if add type annotation to result var.
E.g.
[code]

[2021-09-23 13:36] arsheelsheikh opened #1078 "CREATE CODE_OF_CONDUCT"
To create `code of conduct`

[2021-09-23 13:40] sobolevn commented on #1078
Thanks! I will check which CoCs are used by other projects like ours.

[2021-09-24 12:11] arsheelsheikh commented on #1078
I have added `code of conduct`

[2021-09-24 14:14] #1078 closed

[2021-09-25 08:31] sobolevn opened #1082 "`recommonmark` is deprecated"
https://github.com/readthedocs/recommonmark#recommonmark

We should switch to `myst`: https://github.com/executablebooks/MyST-Parser

[2021-09-25 12:58] radiantly commented on #1082
Hi, could I take this up?

[2021-09-25 13:01] sobolevn commented on #1082
Sure, @radiantly! Thanks! Please, note that Hactoberst hasn't started yet. You need to wait for several days 🙂
Otherwise, this won't be counted by their rules.

[2021-09-30 03:25] thepabloaguilar commented on #413
A few news about this here, I was making my presentation about `Trampolines` and just realized that we can't use the approach from this comment: https://github.com/dry-python/returns/issues/413#issuecomment-804237101

__mypy doesn't support recursive type annotations!!__

The solution we should follow is that from my last comment here (https://github.com/dry-python/returns/issues/413#issuecomment-

[2021-09-30 07:15] sobolevn commented on #413
@thepabloaguilar there's a hack we can use:

[code]

[2021-10-01 06:43] thepabloaguilar commented on #413
So, the transformation of this:
[code]

Is kind of this:
[code]

[2021-10-01 12:48] ariebovenberg opened #1090 "Plan for pattern matching? (PEP636)"
👋 Hi there. Great work on this library! Do you have some thoughts on supporting pattern matching (upcoming feature in Python 3.10)? I can foresee a few issues if we don't give this some thought.

The 'default' approach would probably be something like:

[code]
(This currently does not work, but would probably be possible to implement without changes to the API)

The problem is the last case. It on

[2021-10-01 12:55] sobolevn commented on #1090
Pattern matching is already supported on `master` branch: https://github.com/dry-python/returns/blob/master/tests/test_examples/test_maybe/test_maybe_pattern_matching.py 😊

See #991

[2021-10-01 13:04] ariebovenberg commented on #1090
@sobolevn woops, looks like I didn't keep up-to-date on your pace of development 😅. Nice work!

Time for weekend...

[2021-10-01 13:04] #1090 closed

[2021-10-01 13:18] sobolevn commented on #1090
@ariebovenberg I appreciate your report! Have a great weekend! 👍

I will try to sync next `returns` release with `3.10` release.
So, PM will be available to everyone from the very start!

[2021-10-01 13:50] ariebovenberg opened #1091 "support for container interfaces"
related: #874, #592

Python has a [rich set of container interfaces](https://docs.python.org/3/library/collections.abc.html), like `__iter__`, `__len__`, `__contains__`, and others.

**could we treat `Maybe` as a collection (i.e. one containing 0 or 1 items)?** It may seem weird, but it has precedent. In Rust, `Option` implements iteration and other collection-like traits [as well](https://doc.rus

[2021-10-01 14:03] sobolevn commented on #1091
Good idea! But, we are block right now because of #392
I don't know which methods it will require.

[2021-10-06 02:25] internetimagery commented on #392
related https://github.com/internetimagery/do-not

[2021-10-06 07:19] sobolevn opened #1095 "Switch `3.10-rc2` to `3.10` in GitHub Actions"
We need to:
1. delete these lines https://github.com/dry-python/returns/blob/master/.github/workflows/test.yml#L21-L24
2. remove `continue-on-error`: https://github.com/dry-python/returns/blob/master/.github/workflows/test.yml#L17
3. add `3.10` here https://github.com/dry-python/returns/blob/master/.github/workflows/test.yml#L20

[2021-10-06 11:26] #1095 closed, assigned to nobody

[2021-10-12 10:58] JarnoRFB opened #1100 "Currying support for generic attrs classes"
# Bug report

I tried out returns, because I was looking for typesafe curry implementation, but I hit a problem with my Generic / Protocol implementing attrs classes.

## What's wrong
[code]
[code]

## How is that should be

The above code should simply print

`Pair(_a=2, _b=1)`

This seems to be due to https://github.com/python-attrs/attrs/issues/374

A fix I hacked together could be something li

[2021-10-12 11:05] sobolevn commented on #1100
Thanks!

The same would be needed for our `mypy` plugin.
Also, what about `__new__` method?

[2021-10-31 17:57] isratmir commented on #792
Hi!
Got same issue with pylint and Result, Success, Failure.
Found that by commenting everywhere import and code. After that pylint runs faster.

[2021-10-31 18:01] sobolevn commented on #792
Please, report this on pylints repo! And post an issue number here.

I can help pylint's team, but there's nothing we can do from our side.

[2021-10-31 18:14] isratmir commented on #792
Issue from pylint repo [Very slow linting when using the dry-python/returns library #4750](https://github.com/PyCQA/pylint/issues/4750)

[2021-11-02 14:05] ariebovenberg opened #1114 "Adding some utility methods to Maybe/Result"
Have you considered adding some handy utility functions to `Maybe` and `Result`?
In using `returns` I'm missing many helpful methods you can find in Rust, for example.
Adding a few of these could increase the usability of the containers of `returns`.

Related: #1091

Here they are, in my subjective order of usefulness:

## Setdefault

Set a value if one is not yet present.
The name `setdefault` wo

[2021-11-16 07:18] CucumisSativus commented on #1114
I think `Setdefault` is already in the library, in the form of `value_or()`.
With zip (or map_n) and filter I really think those would be valuable additions to the library.
Could you show how would you use `and` and `or`, I think I am missing the idea how could those be used in the real source code

[2021-11-16 13:07] ariebovenberg commented on #1114
I'll illustrate with this example:

[code]

## Setdefault

There difference with `value_or()` is that `setdefault()` doesn't unwrap the value. This can be useful when you want to keep the container. For example when updating a `Maybe` attribute.

[code]

## Or

Like Python's `or`, it is useful for fallback values:

[code]

## And

I can't think of a super convincing case here, but it'd make sense

[2021-11-16 19:42] CucumisSativus commented on #1114
Thanks a lot for the clarifications, I should take a look at the issue slightly later in the morning :)

I am happy to implement `zip` and `filter`, for the other methods I'm not entirely convinced. But if @sobolevn says those are ok to be implemented, i am happy to do it as well :)

[2021-11-17 09:30] ariebovenberg commented on #1114
@CucumisSativus Thanks for the feedback!

😉 If you don't mind though, I was actually really looking forward to implementing these, after being given the green light. I'm really interested in diving into `returns` internals 🤩

[2021-11-18 06:35] CucumisSativus commented on #1114
@ariebovenberg Sorry I rushed a bit and started with `filter`, but there are plenty of other methods and I'm happy to share them with you :). My time is a bit limited so I don't think I can realistically do more than filter this week, so please choose the methods you want to implement. Let's use this issue for coordination when it comes to implementing them.

[2021-11-18 09:49] sobolevn commented on #1114
🎉

[2021-11-18 11:19] ariebovenberg commented on #1114
@sobolevn agree to implement all methods?

- [ ] `filter`
- [ ] `zip`
- [ ] `setdefault` -- also agree on the name?
- [ ] `and_` and `or_`

Then we can start the work.

[2021-11-18 11:22] ariebovenberg commented on #1091
Interesting!

Note though that once you abuse one of the container interfaces (iter, getitem, contains, etc.), the others are pretty much off the table as well (otherwise you get a _really_ wonky API)

I'm eager to see what the outcome is 👀

[2021-11-18 13:29] sobolevn commented on #1114
@ariebovenberg you would love to have as much utils as possible, but. There's one very important step here:

We really prefer to have functions over methods. For example. We can create `def and_(self, other)` method in `Maybe` / `Result` / `IOResult` / etc. Or we can create a single function which works with any (or only some) given containers.

The difference is not just semantical. If we add the

[2021-11-18 13:29] sobolevn commented on #1114
We store utils here: https://github.com/dry-python/returns/tree/master/returns/methods

[2021-11-18 15:00] ariebovenberg commented on #1114
I'm definitely willing to defer to your preference on this matter. But let's see if I can make the case for methods...

In the absence of first-class support for currying and composition in Python, I feel methods have an advantage on readability.

[code]

For these particular methods:
- `zip`, `and_` and `or_` would work OK as standalone functions (i.e. they work on all success/failure types).
- `

[2021-11-18 17:51] sobolevn commented on #1114
Awesome! 👍

Ok, let's make it the very last item to implement then! We can think some more about different choices.

It is still fine to use it as a function, because we have `MaybeLikeN` (or `MaybeBasedN`) and people can theoretically make their own `Maybe` types. So, function can help to remove one extra implementaion step to them.

[2021-11-20 11:55] ariebovenberg commented on #1114
@CucumisSativus probably best if you pick up `zip` as well. Just like `filter` it only works on maybes. I'll pick up `setdefault`, `and_`, `or_`

[2021-11-20 15:19] CucumisSativus commented on #1114
I am happy to pick `zip`, but I would like to challenge that it should be only implemented for maybe.

For result I would see it like this
[code]

For IO

[code]

With `Result` I think it could work if both Results have the same error type.

@sobolevn @ariebovenberg what do you think about it?

[2021-11-20 15:52] ariebovenberg commented on #1114
@CucumisSativus Interesting! I was thinking about the signature `Result[T, U], Result[V, W] -> Result[(T, V), (U, W)]`, which would not be possible for arbitrary errors.

But `Result[T, U], Result[V, W] -> Result[(T, V), U | W]` is indeed possible! The signature still leaves unclear whether to take the _first_ or _second_ failure value. I'd agree with you that taking the _first_ is 'more correct',

[2021-11-20 16:14] ariebovenberg commented on #1114
Also a decision to make: if we make `zip` a standalone function, it'd conflict with Python's builtin `zip`. We need to choose one of:

1. it's up to the library users to import `zip` in a qualified manner
2. we rename `zip` to `zip_` or something else
3. we make `zip` a method

[2021-11-23 21:48] chaichontat opened #1141 "Better documentation for `is_successful` in `Result` and `Maybe`"
Hi, thank you for such an amazing package!

## What's wrong
I was searching for a method to check if `Result` is successful or not. However, I was surprised to not see any mentioned in both the `Result` and `Maybe` documentations. After searching through the issues, I finally found PR #95 that indicated that I should use `is_successful` which is in `returns.pipeline`.

## How is that should be
Sin

[2021-11-23 22:14] sobolevn commented on #1141
We should totally do that! Do you want to send a PR? 🙂

[2021-11-24 02:24] chaichontat commented on #1141
Definitely! Will be making something soon.

[2021-11-25 11:42] ariebovenberg opened #1144 "`__slots__ = ()` missing in many base classes?"
related: #416

It seems an empty `__slots__` is forgotten in most base classes (like `Immutable`, `Equable`, etc.), greatly reducing the advantage (i.e. memory savings) of defining `__slots__` in their subclasses (e.g. `Result`, `Maybe`). Unless I'm missing something, this is not intended. In that case I will gladly submit a PR fixing this.

# Example

[code]

# Expected behavior of slots classes

[2021-11-25 12:46] sobolevn commented on #1144
Yes, my bad. I forgot that I need empty `__slots__`. PRs are welcome! 👍

[2021-11-25 18:53] ariebovenberg commented on #1144
@sobolevn it seems the `is_error_handled` helper of the `pytest` plugin patches success/failure containers with an extra `_error_handled` attribute which is not used outside of tests.

My suggestion would be to add this property to `__slots__`. How do you feel about adding test-specific behavior to non-test code?

The other alternatives I can think of to avoid this extra `__slots__` field are even

[2021-11-25 19:17] ariebovenberg commented on #1144
🤔 One other option would be to create a separate `(<object id>, object): <is error handled>` lookup dict in the tests. That'd avoid the extra attribute but we'd have to be careful to delete entries afterwards to avoid leaking memory.

Thoughts?

[2021-11-25 19:35] sobolevn commented on #1144
Or we can create a runtime subclass of a container with this new slot 🤔
Something like `type('_Pytest' + SomeType.__name__, (SomeType,), {'__slots__': ...})`.

This also seems like a good idea.

[2021-11-25 21:27] ariebovenberg commented on #1144
I'll try the second approach first, as it should result in 'least surprise' for the user. 🤞 let's see if it works 👀

[2021-11-28 12:22] #1144 closed

[2021-11-29 11:17] ariebovenberg opened #1148 "Improved monkeypatching in pytest plugin"
The pytest plugin patches containers to track errors handled. As described in #1147, there are two problems with the current approach:
- the monkeypatch is not undone after test execution
- a global state is used to track errors handled.

These can be solved by:
1. undoing the monkeypatch after each test where it is used (perhaps using `unittest.mock.patch`)
2. storing the errors handled in the fi

[2021-12-07 21:08] #1148 closed

[2021-12-16 18:14] sobolevn opened #1181 "Update mypy to 0.920"
There are some incompatible changes to the plugin system.
Refs https://github.com/dry-python/returns/pull/1180

[2021-12-17 20:24] #1082 closed

[2021-12-27 11:48] #1181 closed

[2021-12-27 13:16] #823 closed

[2021-12-31 16:27] #605 closed

[2022-01-05 03:06] thepabloaguilar commented on #264
I was thinking about the implementation here, one thing we need to define is what to do with functions that has multiple parameters, like, if my function has 3 arguments like:

[code]

What should be inside the Result? A tuple where the first element is the positional args and then the second the keyword args?

[2022-01-05 22:34] thepabloaguilar commented on #264
Any thoughts @sobolevn??

[2022-01-06 09:17] sobolevn commented on #264
I think that functions with multiple arguments should not be allowed in this case.

[2022-01-06 16:34] majidaldo opened #1216 "doc: example not using cls or self.__class__"
(sorry this is just a question...not a bug. didn't know where to go just for a question. maybe open a github discussion?)

in the [example](https://returns.readthedocs.io/en/latest/pages/interfaces.html#applicative),
[code]
why not use cls(inner_value)? also, i understand Applicative is a protocol/interface. but it's so generic. why not make it a mixin?

[2022-01-06 16:39] sobolevn commented on #1216
@majidaldo you can try! I had problems with mypy, it was not understanding some parts of this definition.

PR is welcome :sligh

[2022-01-07 19:12] majidaldo opened #1221 "best practice for using with dataclasses?"
I'm a satisfied dataclasses user. My coding style is just dataclasses connected with methods.

[code]
This pattern seems close to what is prescribed by returns containers. I'm confused as to whether I'm supposed to create my own container or just use returns containers. I like the 'ecosystem' around attrs specifically.

I'm familiar with how FP 'manifests' in 'regular' programming but I haven't do

[2022-01-07 21:33] sobolevn commented on #1221
Sorry, I don't understand your question. Do you want to create your own container? If so, which one? What problem do you want to solve?

If you want to use existing ones, it does not matter how you define your data types.

[2022-01-08 08:34] #264 closed

[2022-01-11 17:29] majidaldo commented on #1221
tabling

[2022-01-11 17:29] #1221 closed

[2022-01-14 13:36] ariebovenberg opened #1234 "Sphinx build broken"
# Bug report

## What's wrong

The sphinx build fails due to issues unrelated to new PRs.

example of such a build: https://readthedocs.org/projects/returns/builds/15771948/

the offending warning is:

```WARNING: Failed guarded type import with AttributeError('__globals__')```

## How is that should be

build should succeed, documentation generated without warning

## System information

whatever

[2022-01-18 03:26] thepabloaguilar commented on #1234
@sobolevn I found the issue on `sphinx-autodoc-typehints`! My PR should fix, so let's wait for the release of it:

https://github.com/tox-dev/sphinx-autodoc-typehints/pull/211

[2022-01-19 06:57] #1234 closed

[2022-02-02 19:26] majidaldo opened #1266 "feature: bind, map, applicative operators"
(did i see this mentioned feature somewhere?)

Python offers pipe , rshift, and matmul that could be used.

[2022-02-02 19:51] sobolevn commented on #1266
No, sorry. This is a documented decision. `user.map(function)` is much easier to read than `user >> function`.

You can write your own containers using our `hkt` feature with any operators you like.

[2022-02-02 19:51] #1266 closed

[2022-02-03 07:55] sobolevn opened #1267 "Remove `.success_type` and `.failure_type`"
Since `Success` / `Failure` and `Some` / `Nothing` are real types, we can remove `.success_type` and `.failure_type` hacks.

It is a breaking change, but it is a simple one to fix.
And it is a better API.

[2022-02-03 08:11] sobolevn opened #1268 "Remove existing demo"
It does not work 😢

[2022-02-17 17:16] Darova93 opened #1286 "doct: Alt documentation"
# Bug report

## What's wrong

There's not a section for the alt function under Composition helpers -> Pointfree
<img width="231" alt="Screen Shot 2022-02-17 at 9 17 14" src="https://user-images.githubusercontent.com/69552193/154535242-6d718fc4-d803-4e43-b94d-c1ef3e19bd0d.png">

## How is that should be

It would be helpful to have a section describing it and showing its usage with an example like

[2022-03-14 13:37] ftaebi opened #1312 "flatten results of do-blocks before returning"
In order to enhance the flexibility and avoid workarounds, consider flattening the results of do-blocks before returning them. This way the user can decide inside the do-block if his result needs a `unit` operation or not.

[2022-03-14 16:13] sobolevn commented on #1312
Thanks, this is a good idea!

[2022-03-14 17:34] #1141 closed

[2022-03-27 22:07] swimmwatch opened #1329 "Refactor poetry installation in test.yml"
Hello! I suggest replacing manual Poetry installation to [python-poetry-action](https://github.com/marketplace/actions/python-poetry-action).
Benefits from this approach:
1. We can commit Poetry version.
2. More simple installation.

[2022-03-28 05:34] sobolevn commented on #1329
Hi, thanks for the suggestion!

1. We can still do that with `POETRY_VERSION` env var, but we are not interested in this. We always need the latest version
2. It is simple enough in my point of view. Moreover, it is the same everywhere in my projects: https://github.com/wemake-services/wemake-python-package

So, let's keep it as is!

[2022-03-28 05:34] #1329 closed

[2022-03-31 17:52] deusebio opened #1343 "Higher Kinded Types Example Refactored"
# Bug report

The typing inferred via higher-kinded types does not seem to be correct

## What's wrong

I've started to play around with the Higher-Kinded Types (I'd really love to be able to type even with type classes) that are provided in the library, following the blog post [here](https://dev.to/wemake-services/higher-kinded-types-in-python-51n8) (By the way...terrific blog!). One (seemingly b

[2022-04-13 17:34] johnthagen opened #1359 "Equivalent feature to Rust ? operator"
I was trying out [`Result`](https://returns.readthedocs.io/en/latest/pages/result.html#result) and one of the first things I wanted to do to get familiar with the Python version was to implement something similar from Rust.

This [Rust by Example](https://doc.rust-lang.org/rust-by-example/std/result/question_mark.html) example shows how the `?` operator does early return in an ergonomic way.

[cod

[2022-04-13 18:08] sobolevn commented on #1359
You can do something like (pseudo-code):

[code]

[2022-04-14 12:47] johnthagen opened #1361 "mypy plugin allows false positive error when exhaustively pattern matching on Result"
# Bug report

## What's wrong

Consider the following code:

[code]

Running:

[code]

Related to #1090

## How is that should be

As far as I can tell (new to `returns`), I'm matching exhaustively here, so I would not expect a `mypy` error.

`mypy` seems to understand exhaustive matching in general. The following snippet does not throw an error.

[code]

## System information

- `python` version:

[2022-04-14 13:03] johnthagen commented on #1361
Also, related to this issue and #1090, is this still valid?

https://github.com/dry-python/returns/blob/cd08c2aaf71347f33b4e99ba3879b7ac1566a75d/setup.cfg#L164-L165

Curious if @ariebovenberg has any thoughts as someone who has been using pattern matching and `returns`.

[2022-04-14 14:01] johnthagen opened #1362 "Provide example in documentation for composing functions with multiple parameters"
When looking at the examples for [`flow`](https://returns.readthedocs.io/en/latest/pages/pipeline.html#flow), they currently compose very cleanly for functions that take only a single argument. Is there a best practice for composing into a function that takes more than one argument?

A small example snippet:

[code]

Unpacking the `tuple` with `[0]` feels a little verbose. Perhaps the idea with th

[2022-04-14 16:00] johnthagen commented on #1362
In this particular example, it's actually possible to bind `x` and `y` directly into the `flow`.

[code]

[2022-04-14 16:45] johnthagen commented on #1359
I also just discovered that `flow` is an ergonomic way to handle at least some early return issues (where there is a single value flowing through without side effects):

[code]

[2022-04-14 16:53] sobolevn commented on #1361
I am 80% sure that this is a mypy bug 🤔

[2022-04-14 19:19] johnthagen commented on #1362
Thanks @sobolevn! I'll take a look at that and close this issue.

[2022-04-14 19:19] #1362 closed

[2022-04-14 19:20] johnthagen commented on #1359
Since this was more of a question, I will go ahead and close this issue to keep the tracker clean.

Maybe one day Python will add something like `?` 😄

[2022-04-14 19:20] #1359 closed

[2022-04-18 12:19] johnthagen commented on #1361
I did a little more digging and added an `assert_never` statement:

[code]

This reveals the type, though doesn't shed much more light on why the narrowing/exhaustiveness isn't happening:

[code]

When using `assert_never` with `Union`-based algebraic data types, I was able to narrow down which variants in a `match` were missing, but I'm guessing `Result[T]` is much more complex.

An example I was

[2022-04-18 20:27] sobolevn commented on #1361
I guess we can refactor `Result` to be `Union` 🤦
I remember that a long time ago there were some problems with this approach. But, I don't remember the details.

[2022-04-19 06:20] ariebovenberg commented on #1361
The problem with the union approach, I found, was that you can't have nice classmethods on the union.

Something like `Maybe.from_optional` wouldn't be possible if `Maybe` was a union. It'd have to be a standalone function, which is a lot less convenient.

Regarding refactoring to `Union`: there was once a plan to include [`typing.sealed`](https://peps.python.org/pep-0622/#sealed-classes-as-algebr

[2022-04-19 07:00] sobolevn commented on #1361
At least this works in mypy (latest):

[code]

The runtime part is always easier 😉

[2022-04-19 07:03] sobolevn commented on #1361
Oh, I see one more problem: `Union[ex.A, ex.B]` is not very readable. `Result[R, E]` is much better than `Union[Success[R], Failure[E]]` 😞

[2022-04-19 11:56] johnthagen commented on #1361
@ariebovenberg Funny you should bring up `typing.sealed`, I am actually working on a PEP for this currently: https://github.com/johnthagen/sealed-typing-pep

There is some initial discussion on the typing-sig about this: https://mail.python.org/archives/list/typing-sig@python.org/thread/7TB36OWSWRUIHUG36F4FHE3PVKVM3RSC/

Having more people voice support for an ADT in which methods and state can be

[2022-04-19 13:02] sobolevn commented on #1361
You totally have my support on this! Where should I sign? 😆

[2022-04-19 13:32] johnthagen commented on #1361
@sobolevn Working on the PEP with @drhagen. We'll hopefully have a draft ready soon. When we do, joining typing-sig and providing support for your use case would be helpful.

[2022-04-27 18:45] JohnGurin opened #1384 "A function wrapped with safe gets mypy error"
# Bug report

## What's wrong
[code]
`dacite` creates data classes from dicts.
`from_dict` function
https://github.com/konradhalas/dacite/blob/eae039bd25b2d0415de8e0d37cd07aca6c481c5c/dacite/core.py#L34

## How is that should be
There is no errors without `safe` wrapper

## System information

- `python` version: 3.10.3
- `returns` version: 0.19.0
- `mypy` version:  0.942

- `hypothesis` version (

[2022-04-27 19:18] JohnGurin commented on #1384
Apparently the issue is because of Python 3.10. On the main page of `dacite` repository the latest tested version of Python is 39
https://github.com/konradhalas/dacite/issues/167

Checked with 3.9 - mypy reports no errors.

[2022-04-27 20:29] #1384 closed

[2022-05-02 10:36] sobolevn commented on #1361
This does not look possible with the current way of doing things:

[code]

So, we need `@sealed` 🙏

[2022-05-02 12:49] johnthagen commented on #1361
Okay, good to know. We are nearing the completion of the PEP and will ping you when there is a draft ready for you to review.

[2022-05-04 10:11] SebAlbert opened #1396 "Broken link to drylabs.io on the bottom of README"
The bottom of the README file links to drylabs.io, which seems to be an abandoned or lost domain ("parking").
Is there a new location, or has the mentioned organisation ceased to exist?

[2022-05-04 10:15] sobolevn commented on #1396
Yes, thanks! You can remove this footer if you want :)

[2022-05-07 17:26] johnthagen commented on #1361
@sobolevn We have shared a draft PEP on typing-sig. We would appreciate and feedback/support you could provide.

https://mail.python.org/archives/list/typing-sig@python.org/thread/7TB36OWSWRUIHUG36F4FHE3PVKVM3RSC/

[2022-05-13 13:49] Eduard-gan commented on #760
@dan-sel the provided "pythonic" solution is doesn't actually solve the problem, although it looks cool!

It catches all possible AttributeErrors but with multiple calls under single 'try' you can't really know from which exact call you got an AttributeError. So you can't do any certain recover steps.

After all i agree that provided pipeline in documentation doesn't look inspiring or 'much better

[2022-05-19 18:26] yukiisbored opened #1405 "Success(None) and Some(None) fails to load from pickle"
# Bug report

## What's wrong

It appears returns containers fail to load from serialized pickle form when the inner value is `None`.

I wrote a quick test script:
[code]

Here's the stacktrace
[code]

So far I've tested `Success`, `Failure`, `Some` and all three of them fail the same way.

## How is that should be

As shown in the test script, returns container should be "recreated" properly incl

[2022-06-03 19:10] kstauffer opened #1418 "Feature request: mypy plugin for functools.partialmethod"
The returns plugin for functools.partial is great as far as it goes. Could that be adapted to support functools.partialmethod, too?

This feature could resolve these issues:
python/mypy#8619
python/mypy#1484

[2022-06-03 19:16] sobolevn commented on #1418
Yes, I think this is doable!

[2022-06-29 14:19] emosenkis opened #1433 "Crash with mypy plugin on mypy 0.961"
# Bug report

## What's wrong

[code]

## How is that should be

Don't use `MessageBuilder.clean_copy` (removed in https://github.com/python/mypy/pull/12631)

## System information

- `python` version: 3.9
- `returns` version: 0.19
- `mypy` version: 0.961

- `hypothesis` version (if any):
- `pytest` version (if any):

[2022-07-05 21:08] ogabrielsantos opened #1439 "Structural pattern matching not matching stored failure value"
# Bug report

## What's wrong

I'm trying to match some exceptions using structural pattern matching after reading the documentation, which says that I can match by result stored inside `Failure` ([here](https://returns.readthedocs.io/en/latest/pages/result.html#pattern-matching)):

[code]
So, I've tried to implement my own code and looks like the first defined failure will be called, independent

[2022-07-06 07:14] thepabloaguilar commented on #1439
I'll take a look to see why this is happening!!

[2022-07-06 07:19] thepabloaguilar commented on #1439
Ok, I just found the problem and it's in our documentation 😆

To match correctly use parenthesis, `Failure(ZeroDivisionError())`! Could you test again using parenthesis @ogabrielsantos, please?
I knew that I've tested a case with exceptions inside a `Failure` container:
https://github.com/dry-python/returns/blob/master/tests/test_pattern_matching.py

cc @sobolevn

[2022-07-06 13:29] ogabrielsantos commented on #1439
@thepabloaguilar I've solved this issue yesterday reading the above mentioned test but had no time to get here and report it because I was out of office. Thanks!

For the documentation issue, how about a more non-generic example, showing the advantage/usage of `Result` for multiple `Failure` types?

[2022-07-07 06:42] thepabloaguilar commented on #1439
What do you have in mind? Feel free to submit a PR to us, help is always welcome!!

[2022-07-26 16:26] jcsho opened #1453 "Generic Point Free Function Returns Unexpected Type"
# Bug report

## What's wrong

Trying to compose a generic function that converts between different container types fails to type check correctly when using generics. Hopefully I am just using this wrong.

Code:
[code]

Running mypy:
[code]

## How is that should be

I would have expected the return type for `test_generic2` to be ``returns.io.IOResult[T4`-3, builtins.Exception]``

## System inform

[2022-08-16 04:12] thepabloaguilar commented on #1405
Thanks for your report @yukiisbored and sorry for the late, I already know what's the problem! It's basically because our containers implements a custom logic to pickle/unpickle the objects since we restrict the `__setattr__` method and `None` is a __Falsy__ value which leads to the problem, when unpickeling (hope this word exists 😆) __Falsy__ values `__setstate__` is [never called](https://docs.p

[2022-08-16 07:41] #1439 closed

[2022-08-20 01:29] #1405 closed

[2022-08-20 03:00] thepabloaguilar commented on #611
@sobolevn do you think this issue still relevant? Is `These` a real use case for Python?

[2022-08-20 08:48] sobolevn commented on #611
I haven't found any 😢

[2022-08-20 08:48] #611 closed

[2022-08-20 23:20] djbrown commented on #1114
any news here? I would love to use those utilities 🤩

[2022-08-24 14:42] ariebovenberg commented on #1114
@djbrown I suppose not 😅 . Feel free to pick this up if you like, I probably won't have time for it the coming months.

[2022-08-30 04:04] thepabloaguilar commented on #610
I'm continuing this issue and after a lot of thoughts I end up deciding that `transducers` is a cool thing but we don't need them in Python in the same way that's implemented in Clojure! The thing is, Python has generators which chained result in the same behavior of the transducer, instead of creating a lot of intermediate iterable they process each element from the start to the end!

[code]

But

[2022-08-30 08:18] sobolevn commented on #610
The idea sounds interesting! Please, feel free to send a prototype.

[2022-09-02 14:02] swoutch opened #1476 "Mypy complains when currying a class"
# Bug report

Hi, I'm trying to curry a class constructor, but mypy complains

## What's wrong

[code]

[code]

Here is my mypy.ini file:
[code]
## How is that should be

mypy should not report any error

## System information

- `python` version: 3.10.4
- `returns` version: 0.19.0
- `mypy` version: 0.971

- `hypothesis` version (if any): not installed
- `pytest` version (if any): not installed

[2022-09-02 14:12] sobolevn commented on #1476
This is a known issue.

[2022-09-02 14:48] swoutch commented on #1476
Thank you for this piece of information :)

[2022-09-02 15:51] sobolevn commented on #1476
Try this: https://github.com/dry-python/returns/blob/964479d79075ffac7808755fb63709eca0fe4933/typesafety/test_curry/test_curry/test_curry_arguments.yml#L75

[2022-09-02 16:08] swoutch commented on #1476
mypy doesn't complain about that:
[code]

But does complain about that:
[code]
[code]

However python doesn't seem to like the curry on `__init__`:
[code]

[2022-09-10 08:16] #1396 closed

[2022-09-10 16:09] #1286 closed

[2022-09-10 17:33] ryangrose opened #1481 "RTD builds failing"
# Bug report

## What's wrong

RTD builds fail: possibly due to package management

## How it should be

RTD builds successfully

## System information

NA

[2022-09-10 20:08] #1481 closed

[2022-09-10 21:38] ryangrose commented on #1114
I feel like a lot of these can easily be created with do notation can't they?

[code]

It seems like there's a common pattern here, so maybe a function to lift a function to operate on two monads could be more useful.

[code]

I'm slightly hesitant about adding primitives if they're easy to lift though? What do you all think? (Relatedly, I had a hard time doing any of this in pointfree syntax.. Le

[2022-09-11 09:01] ariebovenberg commented on #1114
@ryangrose

1. `zip`, `or_` and `and_` can indeed be expressed otherwise, but the whole appeal is to have one call like `a.zip(b)` instead of a multi line do-expression.
2. In my original proposal (which is basically just what Rust does), I imagined `zip`, `or_`, and `and_` to explicitly _not_ act on the contained value inside the maybe. In this case, the issue you present with `filter` does not e

[2022-09-11 16:28] ryangrose commented on #1114
Ah that makes much more sense. Thanks @ariebovenberg!

Definitely agree on the appeal. I was worried about adding methods that act on the value of containers to a container since that seemed superfluous. Now that I know they aren't acting on the value of the containers I see how they're worth it :)

Yeah the lazy evaluation was going to be my next question. I imagine that was for performance impli

[2022-09-16 04:35] proboscis commented on #615
Could anyone teach me why it is named `lash`?  I am not a native English speaker and couldn't find the reason by searching around...

[2022-10-05 08:39] WinterCitizen commented on #257
@sobolevn i would like to contribute. But should this type be a part of returns? I came here googling for `NonEmptyList` type and definitely didn't expect to find something related in `returns` package :grin:

[2022-10-05 09:12] sobolevn commented on #257
You can create a new package :)

[2022-10-05 11:27] WinterCitizen commented on #257
@sobolevn well, actually if the point of returns is to "Make your functions return something meaningful, typed, and safe!", then i guess it makes sense to have `NonEmptyList` here. Is it ok if i put it somewhere in `returns.primitives.types`? :thinking:

[2022-10-10 01:03] bcb commented on #792
Simply `import returns.result` hangs Pylint.

[2022-10-25 16:33] rmzr7 opened #1513 "Pyright support?"
Are there plans to support returns with pyright?

[2022-10-25 17:02] sobolevn commented on #1513
I don't think it is possible, because we use way too many mypy plugins.
And pyright does not support them.

[2022-10-25 17:36] #1513 closed

[2022-11-03 05:46] thepabloaguilar commented on #876
I know how to solve this issue! Reading the Python docs I discovered that wrapped functions has the `__wrapped__` attribute which we can use to get the "original" function!

The users just need to pay attention to use the `wraps` decorator inside their decorators!

Docs: https://docs.python.org/3/library/functools.html#functools.update_wrapper

[2022-11-03 08:46] sobolevn commented on #876
Let's add this to the docs :)

[2022-11-05 17:58] LeuschkeTressa commented on #1433
Is there a workaround, other than disabling the plugin?

Or is a fix allowing a later `mypy` version on the way?

(For me, not using latest `mypy` crashes `mypy` due to other bugs, so currently I'm unable to use the `returns` plugin. As a consequence I'm currently lacking much of the typing support that is critical to me.)

[2022-11-05 18:16] sobolevn commented on #1433
I will refactor our plugin to work with `mypy@0.99`

Plugin API is changing too fast :(

[2022-11-10 03:51] thepabloaguilar commented on #876
I made the fix and broke other part 😆

The thing is, fixing this (with the actual code ive made) we won't be able to handle creations within decorators cause we're getting the most inner function, `@safe` won't work for example:

[code]

`Failure` is being created inside `safe` and not `_safe_decorated_function`

Suggestions?

[2022-11-10 07:49] sobolevn commented on #876
No :(